<div ng-controller="AdminUsersCtrl" ng-cloak>
	<div ng-hide="userShown">
		<div class="sticky-bar ui sticky" sticky>
			<div class="sticky-action-bar ui page grid">
				<div class="left-col left aligned ten wide column">
					<div class="action-btn ui blue labeled icon top left pointing button dropdown">
						{{'tab_user_actions'| translate}}
						<i class="settings icon"></i>
						<div class="menu">
							<div class="item" ng-click="addUser()" translate> tab_user_add_user</div>
							<div class="item" ng-click="deleteMultiUser()" translate> tab_user_delete_user</div>
							<div class="item" ng-click="approveMultiUser()" translate> tab_user_approve_user </div>
							<div class="item" ng-click="disableMultiUser()" translate> tab_user_disable_user </div>
						</div>
					</div>
					<div class="action-btn ui selection dropdown user-status-filter">
						<input type="hidden" name="User-status">
						<div class="default text" translate> tab_user_status </div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="1" ng-click="userStatusFilter('')" translate> tab_user_all_user </div>
							<div class="item" data-value="2" ng-click="userStatusFilter('1')" translate> tab_user_pending </div>
							<div class="item" data-value="3" ng-click="userStatusFilter('2')" translate> tab_user_approved </div>
							<div class="item" data-value="4" ng-click="userStatusFilter('3')" translate> tab_user_disabled </div>
						</div>
					</div>
					<!-- DROPDOWN END -->
					<div class="action-btn ui selection dropdown user-type-filter">
						<input type="hidden" name="User-type">
						<div class="default text" translate> tab_user_type </div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="1" ng-click="userTypeFilter(2)" translate> tab_user_registered_user </div>
							<div class="item" data-value="2" ng-click="userTypeFilter(1)" translate> tab_user_portaladmin </div>
						</div>
					</div>
				</div>

				<div class="right-col right aligned six wide column">

					<div class="ui right labeled input user-search-input">
						<input type="text" keyboard-poster post-function="searchUserBy" name="name" ng-attr-placeholder="{{'tab_user_search_placeholder' | translate}}"
						 ng-model="userSearch.searchInput">
						<!-- <i class="search link icon"></i> -->
						<div class="ui dropdown label">
							<div class="text" translate>tab_user_search_name</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" ng-click="searchType(1)">{{'tab_user_search_name' | translate}}</div>
								<div class="item" ng-click="searchType(2)">{{'tab_user_search_email' | translate}}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- COLUMN END -->
			</div>
		</div>
		<div class="ui page grid">
			<div class="column" ng-if="persons.length==0">
				<div ng-include src="'views/templates/partials/no-data-available.html'"></div>
			</div>
		</div>
		<div class="ui page grid user-table">
			<div class="column">
				<table class="admin-table ui table" ng-show="persons.length>0">
					<thead>
						<tr>
							<th class="one wide center check-box">
								<div class="ui checkbox" ng-click="checkall($event, '.user-table .t-check-box')">
									<input type="checkbox" name="select-user">
									<label></label>
								</div>
							</th>
							<th class="one wide center user-id" ng-click="sortUserPerson()" id="hoverbtn">
								<div class="th-action th-action-filter">
								{{'tab_user_iD'|translate}}
								<span ng-show="showperson"><span ng-hide="!personbtn"><i class="caret up icon"></i></span><span ng-hide="personbtn"><i
										 class="caret down  icon"></i> </span></span>
								</div>
							</th>
							<th class="two wide center mobile" ng-if="payment_gateway==1"></th>
							<th class="one wide center mobile" ng-if="payment_gateway==2"></th>
							<th class="three wide center" ng-click="sortUserName()" id="hoverbtn" ng-if="payment_gateway==1">
									<div class="th-action th-action-filter">
								{{'tab_user_name'|translate}}
								<span ng-show="showname"><span ng-hide="!namebtn"><i class="caret up icon"></i></span><span ng-hide="namebtn"><i
										 class="caret down  icon"></i> </span></span>
										 </div>
							</th>
							<th class="two wide center" ng-click="sortUserName()" id="hoverbtn" ng-if="payment_gateway==2">
								<div class="th-action th-action-filter">
								{{'tab_user_name'|translate}}
								<span ng-show="showname"><span ng-hide="!namebtn"><i class="caret up icon"></i></span><span ng-hide="namebtn"><i
										 class="caret down  icon"></i> </span></span>
								</div>
							</th>
							<th class="three wide center" translate ng-if="payment_gateway==1"> tab_user_email </th>
							<th class="two wide center" translate ng-if="payment_gateway==2"> tab_user_email </th>
							<th class="two wide center" translate ng-if="payment_gateway==2"> tab_user_tracking_number </th>
							<th class="two wide center" translate ng-if="payment_gateway==2"> tab_user_pid_no </th>
							<th class="three wide center" translate ng-if="payment_gateway==1"> tab_user_usertype </th>
							<th class="two wide center" translate ng-if="payment_gateway==2"> tab_user_usertype </th>
							<th class="two wide center" ng-click="sortUserCreated()" id="hoverbtn">
								<div class="th-action th-action-filter">
									{{'tab_user_created'|translate}}
								<span ng-show="showcreated">
									<span ng-hide="!createdbtn">
										<i class="caret up icon"></i>
									</span>
									<span ng-hide="createdbtn">
										<i class="caret down  icon"></i>
									</span>
								</span>
							</div>
							</th>
							<th class="one wide center mobile"></th>
							<th class="two wide center" translate> tab_user_status </th>
						</tr>
					</thead>
					<tbody>
						<tr class="person-row" ng-repeat="person in persons | limitTo:sortOrFiltersPerson.pagination.entriesperpage">
							<td class="t-check-box">
								<div class="ui checkbox">
									<input type="checkbox" name="select-user">
									<label></label>
								</div>
							</td>
							<td class="t-user-id">
								<a ng-href="profile/{{person.person_id}}" target="_blank">{{person.person_id}}</a>
							</td>
							<td class="t-user">
								<img class="ui image pp_placeholder" ng-hide="person.files" src="images/placeholder-images/placeholder_profile_photo.png">
								<img class="ui image pp_placeholder" ng-if="person.files" ng-src="{{server + '/image/campaign_profile/' + person.files[0].path_external}}">
							</td>
							<td class="t-user-name">
								<p title="{{person.first_name+' '+person.last_name}}">{{(person.first_name+" "+person.last_name).slice(0,15)}}<span
									 ng-show="(person.first_name+person.last_name).length>15">...</span></p>
							</td>
							<td class="t-user-email" title="{{person.email}}">
								<div>{{(person.email).slice(0,18)}}<span ng-show="person.email.length>18">...</span></div>
							</td>
							<td ng-if="payment_gateway==2"><span ng-show="person.widgetmakr_cmdi[0].tracking_number">{{person.widgetmakr_cmdi[0].tracking_number}}</span>
								<span ng-show="!person.widgetmakr_cmdi[0].tracking_number">N/A</span>
							</td>
							<td ng-if="payment_gateway==2"><span ng-show="person.widgetmakr_cmdi[0].pid">{{person.widgetmakr_cmdi[0].pid}}</span><span
								 ng-show="!person.widgetmakr_cmdi[0].pid"> N/A</span>
							</td>
							<td>
								<div ng-if="person.person_type_id==1" class="t-status" translate> tab_user_portaladmin </div>
								<div ng-if="person.person_type_id==2" class="t-status" translate> tab_user_registered_user </div>
								<div ng-if="person.person_type_id==3" class="t-status" translate> tab_user_campaignadmin </div>
								<div ng-if="person.person_type_id==4" class="t-status" translate> tab_user_pageadmin </div>

							</td>
							<td class="t-date" ng-hide="isISODate"> {{person.created.slice(0,10)}} </td>
							<td class="t-date" ng-show="isISODate"> {{person.created | formatDate:"YYYY/MM/DD"}} </td>
							<td class="t-edit">
								<div class="ui small basic button" ng-click="editUser(person)">
									{{'tab_user_edit'|translate}}
								</div>
							</td>
							<td ng-if="person.person_status_id==1" class="t-status warning" translate> tab_user_pending </td>
							<td ng-if="person.person_status_id==2" class="t-status positive" translate> tab_user_approved </td>
							<td ng-if="person.person_status_id==3" class="t-status negative" translate> tab_user_disabled </td>
						</tr>
					</tbody>
				</table>
				<!-- TABLE END -->
				<div>
					<div>
						<button type="button" ng-csv="data" filename="detail.csv" add-bom="true" class="ui green button" id="exportbtn">{{'tab_user_export'|translate}}</button>
						<button type="button" ng-csv="getAllUserCSV()" filename="all-users.csv" lazy-load="true" add-bom="true" class="ui green button"
						 id="exportbtn">{{'tab_user_export_all'|translate}}</button>
					</div>
					<div id="searchbox1">
						<label class="per-page-label">{{'tab_user_items_per_page'|translate}} </label>&nbsp;
						<div class="ui selection  dropdown searchbtn" id="searchbtn">
							<span class="text" id="resultValuev" ng-model="entries">{{totalentry[0]}}</span>
							<i class="dropdown icon"></i>
							<div class="menu" ng-click="checkentry()">
								<div class="item" ng-repeat="entry in totalentry">
									{{entry}}
								</div>
							</div>
						</div>
						<label class="per-page-label" translate>tab_user_results </label>
					</div>
				</div>
				<div class="ui center aligned basic segment">
					<div semantic-pagination ng-model="sortOrFiltersPerson.page" total-pages="sortOrFiltersPerson.pagination.numpages"
					 update-function="updateUserListing()"></div>
				</div>
			</div>
		</div>
		<!-- USER TABLE END -->
	</div>

	<div class="user-edit" ng-show="userShown">
		<div class="user-edit-header ui page grid">
			<div class="column">
				<div class="action-btn ui icon labeled black button" ng-click="goBackUser()">
					<i class="left angle icon"></i>
					<span translate>tab_user_back</span>
				</div>
			</div>
		</div>
		<!-- User Menu -->
		<div class="ui page grid">
			<div class="ui column">
				<div ng-include src="'views/templates/partials/response-message.html'"></div>
				<div class="ui pointing secondary menu menu-tabs">
					<a class="item active" data-tab="profile-details" ng-click="clickHash('profile-details')" translate>
						profile_setting_profile_detail </a>
					<a class="item" data-tab="companies" ng-if="!public_settings.site_campaign_enable_organization_name" ng-click="clickHash('companies'); getCompany()" translate>
						profile_setting_company </a>
					<a class="item" data-tab="addresses" ng-click="clickHash('addresses'); getAddressInfo()" translate>
						profile_setting_address</a>
					<a class="item" data-tab="phone" ng-click="clickHash('phone'); getPhoneInfo()" translate> profile_setting_phone</a>
					<!-- <a class="item" data-tab="account-settings" ng-click="clickHash('account-settings')" ng-hide="isAccSetEnabled" translate>  profile_setting_account_setting</a> -->
				</div>
			</div>
		</div>
		<!-- New User Tabs -->
		<div class="ui tab" data-tab="companies">
			<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-company-setting.html'"
			 ng-controller="TabUserCompanyCtrl"></div>
		</div>
		<div class="ui tab" data-tab="addresses">
			<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-address-setting.html'"
			 ng-controller="TabUserAddressCtrl"></div>
		</div>
		<div class="ui tab" data-tab="phone">
			<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-phone-setting.html'"
			 ng-controller="TabUserPhoneCtrl"></div>
		</div>
		<!-- <div class="ui tab" data-tab="account-settings" ng-controller="UserAccountTabCtrl">
			<div class="menu-tab-content" ng-include src="'views/templates/account.html'" ng-hide="isAccSetEnabled"></div>
		</div> -->
		<div class="user-edit-body ui page grid tab" data-tab="profile-details">
			<div class="content column">
				<h2 class="section-title ui top attached inverted header"> {{'tab_user_edit_userprofile'|translate}}
					<!-- <div class="admin-toggle ui toggle checkbox" id="admin-box">
						<input type="checkbox" name="public">
						<label translate> tab_user_make_admin </label>
					</div> -->
				</h2>

				<form name="edit_user_form" class="ui form middle attached segment" id="edit-user-form">
					<div class="edit-user-wrap">
						<div class="profile-image-thumbnail userProfileImage">
							<div class="center aligned ui basic segment imagePlace">
								<img class="pp_placeholder" ng-hide="formData.files && formData.files.length" src="images/placeholder-images/placeholder_profile_photo.png">
								<img class="uploadedImage" ng-src="{{server + '/image/campaign_profile/' + formData.files[0].path_external}}"
								 ng-if="formData.files.length" imageonload />
								<div class="ui dimmer">
									<div class="content">
										<div class="center">
											<div class="ui small indicating progress upload-bar">
												<div class="bar"></div>
											</div>
											<div class="ui loader download-loader"></div>
										</div>
									</div>
								</div>
								<div class="profile-image-actions ui basic segment">
									<thrinacia-file-upload upload-id="userImage" upload-file="uploadUserImage" upload-translate="tab_user_uploadimage"></thrinacia-file-upload>
									<button class="ui red labeled icon button" ng-click="deleteUserImage(formData.files)">
										<i class="delete icon"></i> {{'tab_user_deleteimage'|translate}}
									</button>
								</div>
								<!-- profile-image-actions -->
							</div>
							<!-- ui basic segment end -->

							<div class="user-edit-profile-form ui basic segment">
								<div class="two fields">
									<div class="field">
										<label> {{'tab_user_fname' | translate}} <i class="asterisk red small icon"></i></label>
										<input type='text' name='first_name' ng-attr-placeholder=" {{'tab_user_fname' | translate}} " ng-model="formData.first_name"
										 ng-attr-value="formData.first_name">
									</div>
									<!-- field end -->
									<div class="field">
										<label> {{'tab_user_lname' | translate}} <i class="asterisk red small icon"></i></label>
										<input type='text' name='last_name' ng-attr-placeholder="{{'tab_user_lname' | translate}}" ng-model="formData.last_name">

									</div>
									<!-- field end -->
								</div>
								<!-- two fields end -->
								<div class="two fields">
									<div class="field">
										<label translate> tab_user_password </label>
										<input type='password' name='password' ng-attr-placeholder="{{'tab_user_password' | translate}}" ng-model="formData.password">
									</div>
									<!-- field end -->
									<div class="field">
										<label translate> tab_user_confirm_password </label>
										<input type='password' name='password_confirm' ng-attr-placeholder="{{'tab_user_confirm_password' | translate}}"
										 ng-model="formData.confirm_password">
									</div>
									<!-- field end -->
								</div>
								<!-- two fields end -->
								<div class="two fields">
									<div class="field">
										<label> {{'tab_user_email' | translate}} <i class="asterisk red small icon"></i></label>
										<input type='email' name='email' ng-attr-placeholder="{{'tab_user_email' | translate}}" ng-model="formData.email">
									</div>
									<!-- field end -->
									<div class="field">
										<label translate> tab_user_status </label>
										<div class="ui fluid selection dropdown person-status-dropdown">
											<input type="hidden" name="person_status">
											<div class="default text" translate> tab_user_status </div>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="item warning" data-value="1" translate> tab_user_pending </div>
												<div class="item positive" data-value="2" translate> tab_user_approved </div>
												<div class="item" data-value="3" translate> tab_user_disabled </div>
											</div>
										</div>
										<!-- DROPDOWN END -->
									</div>
									<!-- field end -->
								</div>
								<!-- two fields end -->
								<div class="two fields" ng-show="payment_gateway==2">
									<div class="field">
										<label translate> tab_user_tracking_no </label>
										<input type='text' name='tracking_number' ng-attr-placeholder=" {{'tab_user_tracking_no' | translate}} "
										 ng-model="formData.tracking_number">
									</div>
									<!-- field end -->
									<div class="field">
										<label translate> tab_user_pid </label>
										<input type='text' name='pid' ng-attr-placeholder=" {{'tab_user_pid' | translate}} " ng-model="formData.pid">
									</div>
									<!-- field end -->
								</div>
								<div class="two fields">
									<div class="field">
										<label translate> tab_user_usertype </label>
										<div class='ui selection dropdown fluid person-type-id-dropdown'>

											<input type="hidden" ng-value="formData.person_type_id" ng-model="formData.person_type_id">
											<div class="default text" translate> tab_user_usertype </div>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="item" ng-click="setPersonTypeId(1)" data-value="1" translate> <p> tab_user_portal_administrator </p> </div>
												<div class="item" ng-click="setPersonTypeId(2)" data-value="2" translate> <p> tab_user_registered_user </p> </div>
												<div class="item" ng-click="setPersonTypeId(3)" data-value="3" translate> <p> tab_user_campaign_administrator </p> </div>
												<div class="item" ng-click="setPersonTypeId(4)" data-value="4" translate> <p> tab_user_page_administrator </p> </div>

											</div>

									</div>
									<!-- field end -->
								</div>
								<div class="field" ng-if="!isRemoveUserProfileBio">
									<label translate> tab_user_biography </label>
									<textarea ng-maxlength="300" ng-model="formData.bio"></textarea>
								</div>
								<div class="profile-links-wrap">
									<div class="profile-links-header">
										<h3 class="ui header" translate> tab_user_profilelinks </h3>
									</div>
									<div class="ui three column stackable grid profile-links-body" ng-show="profile_links.length>0">
										<div class="four wide column">
											<div class="field">
												<label translate> tab_user_title </label>
												<input type="text" ng-model="link.uri_text" ng-attr-placeholder=" {{'tab_user_linkplaceholder' | translate}} "
												 ng-repeat="link in profile_links">
											</div>
										</div>
										<div class="ten wide column">
											<div class="field">
												<label translate> tab_user_link</label>
												<input type="text" class="right" name="link_url" ng-model="link.uri" ng-class="{'has-error': profile_links[$index].uri_text.length && profile_links[$index].uri.length == 0}"
												 ng-attr-placeholder=" {{'tab_user_linkurl_placeholder' | translate}} " ng-repeat="link in profile_links">
											</div>
										</div>
										<div class="remove-link-row two wide column">
											<div class="field">
												<label translate> tab_user_remove </label>
												<button class="remove-btn ui red icon button" ng-click="removeProfileLink($event, link)" ng-repeat="link in profile_links">
													<i class="remove icon"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="profile-links-footer">
										<div ng-show="profile_links.length < 5" class="ui black right labeled icon button" ng-click="addProfileLink()">
											<span translate> tab_user_addlink</span>
											<i class="add icon"></i>
										</div>
									</div>
								</div>
								<div class="field" ng-show="public_settings.site_campaign_enable_organization_name">
									<label translate>organization_name_label</label>
									<input type="text" name="organization_name" ng-model="organization_name.value">
								</div>
								<div class="field" ng-show="public_settings.site_campaign_enable_organization_name">
									<label translate>ein_field_label</label>
									<input type="text" name="ein" ng-model="organization_name.ein">
								</div>
								<div class="custom-field-segment">
									<div class="custom-field-form" ng-repeat="field in pcustom">
										<div class="field" ng-if="field.option === 'Text'">
											<label>{{field.name}} <i ng-if="field.required" class="asterisk red icon"></i></label>
											<input name="{{field.identifier}}" type="text" ng-model="field.value" placeholder="{{field.placeholder}}">
										</div>
										<div class="field" ng-if="field.option === 'Dropdown'">
											<label>{{field.name}} <i ng-if="field.required" class="asterisk red icon"></i></label>
											<div class="ui fluid selection dropdown menu-selector">
												<input type="hidden" name="{{field.identifier}}" value="{{field.value}}">
												<div class="default text" ng-if="field.placeholder && !field.value"> {{field.placeholder}}</div>
												<div class="default text" ng-if="!field.placeholder && !field.value"></div>
												<div class="text" ng-if="(!field.placeholder || field.placeholder) && field.value"> {{field.value}}</div>
												<i class="dropdown icon"></i>
												<div class="menu">
													<div class="item" ng-repeat="options in field.dropdown_array" ng-click="customFieldDropdown(options, field)">
														{{options | translate}}</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>



						</div>
					</div>
				</form>


				<div class="bottom-btn-wrap">

					<button class="ui right aligned positive apply button" ng-click="confirmUserEdit()" ng-if="userSectionTitle=='Edit User'">
						{{'tab_user_applychanges' | translate}} </button>

				</div>
				<!-- CONTENT END -->
			</div>
		</div>
	</div>

	<div class="ui modal add-user-modal">
		<i class="close icon"></i>
		<div class="header">
			<h3 class="ui header" translate> tab_user_add_user</h3>
		</div>
		<div class="content">
			<form name="add_user_form" class="ui form" id="add-user-form">
				<div class="two fields">
					<div class="field">
						<label> {{'tab_user_fname' | translate}} <i class="asterisk red icon"></i></label>
						<input type='text' name='first_name' ng-attr-placeholder=" {{'tab_user_fname' | translate}} " ng-model="formData.first_name">
					</div>
					<div class="field">
						<label> {{'tab_user_lname' | translate}} <i class="asterisk red icon"></i></label>
						<input type='text' name='last_name' ng-attr-placeholder=" {{'tab_user_lname' | translate}} " ng-model="formData.last_name">
					</div>
					<!-- field end -->
				</div>
				<div class="field">
					<label> {{'tab_user_email' | translate}} <i class="asterisk red icon"></i><p class="email-error" style="color: red; border: none !important"></p></label>
					<input type='email' name='email' ng-attr-placeholder="{{'tab_user_email' | translate}} " ng-model="formData.email">
				</div>
				<!-- field end -->
				<div class="two fields" ng-show="payment_gateway==2">
					<div class="field">
						<label> {{'tab_user_tracking_no' | translate}} <i class="asterisk red icon"></i></label>
						<input type='text' name='tracking_number' ng-attr-placeholder=" {{'tab_user_tracking_no' | translate}} " ng-model="formData.tracking_number">
					</div>
					<!-- field end -->
					<div class="field">
						<label> {{'tab_user_pid' | translate}} <i class="asterisk red icon"></i></label>
						<input type='text' name='pid' ng-attr-placeholder=" {{'tab_user_pid' | translate}} " ng-model="formData.pid">
					</div>
					<!-- field end -->
				</div>
				<div class="two fields">
					<div class="field">
						<label translate> tab_user_status </label>
						<div class="ui fluid selection dropdown">
							<input type="hidden" name="person_status">
							<div class="default text" translate> tab_user_status </div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item warning" data-value="1" translate> tab_user_pending </div>
								<div class="item positive" data-value="2" translate> tab_user_approved </div>
								<div class="item" data-value="3" translate> tab_user_disabled </div>
							</div>
						</div>
						<!-- DROPDOWN END -->
					</div>
					<!-- field end -->
					<div class="field">
						<label translate>tab_user_role </label>
						<div class="ui fluid selection dropdown">
							<input type="hidden" name="person_role">
							<div class="default text" translate> tab_user_role </div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="2" translate> tab_user_regular_user </div>
								<div class="item" data-value="1" translate> tab_user_portal_administrator </div>
								<div class="item" data-value="3" translate> tab_user_campaign_administrator </div>
								<div class="item" data-value="4" translate> tab_user_page_administrator </div>
							</div>
						</div>
						<!-- DROPDOWN END -->
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label> {{'tab_user_password' | translate}} <i class="asterisk red icon"></i></label>
						<input type='password' name='password' ng-attr-placeholder="{{'tab_user_password' | translate}}" ng-minlength="6"
						 ng-model="formData.password">
					</div>
					<!-- field end -->
					<div class="field">
						<label> {{'tab_user_confirm_password' | translate}} <i class="asterisk red icon"></i></label>
						<input type='password' name='password_confirm' ng-attr-placeholder="{{'tab_user_confirm_password' | translate}}"
						 match="formData.password" ng-model="formData.password_confirm" ng-focus>
					</div>
					<!-- field end -->
				</div>
				<div class="field" ng-if="!isRemoveUserProfileBio">
					<label translate> tab_user_biography</label>
					<textarea ng-maxlength="300" ng-model="formData.bio"></textarea>
				</div>
				<!-- field end -->
				<div class="field" ng-show="public_settings.site_campaign_enable_organization_name">
					<label translate> organization_name_label</label>
					<input type="text" name="organization_name" ng-model="organization_name.value">
				</div>
				<div class="field" ng-show="public_settings.site_campaign_enable_organization_name">
					<label translate>ein_field_label</label>
					<input type="text" name="ein" ng-model="organization_name.ein">
				</div>

				<div class="custom-field-segment">
					<div class="custom-field-form" ng-repeat="field in pcustom">
						<div class="field" ng-if="field.option === 'Text'">
							<label>{{field.name}} <i ng-if="field.required" class="asterisk red icon"></i></label>
							<input name="{{field.identifier}}" type="text" ng-model="field.value" placeholder="{{field.placeholder}}">
						</div>
						<div class="field" ng-if="field.option === 'Dropdown'">
							<label>{{field.name}} <i ng-if="field.required" class="asterisk red icon"></i></label>
							<div class="ui fluid selection dropdown menu-selector">
								<input type="hidden" name="{{field.identifier}}" value="{{field.value}}">
								<div class="default text" ng-if="field.placeholder && !field.value"> {{field.placeholder}}</div>
								<div class="default text" ng-if="!field.placeholder && !field.value"></div>
								<div class="text" ng-if="(!field.placeholder || field.placeholder) && field.value"> {{field.value}}</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" ng-repeat="options in field.dropdown_array" ng-click="customFieldDropdown(options, field)">
										{{options | translate}}</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
		<!-- CONTENT END -->
		<div class="actions">
			<div class="buttons">
				<button class="ui positive apply button" ng-click="confirmUserAdd()" translate> tab_user_applychanges</button>
			</div>
		</div>
	</div>
	<!-- MODAL END -->
	<div class="ui small modal delete-multi-user-modal">
		<i class="close icon"></i>
		<div class="header">
			<h3 class="ui header" translate>tab_user_delete_user</h3>
		</div>
		<div class="content">
			<p translate> tab_user_delete_user_messsage </p>
			<div class="item" ng-repeat="person_name in personsToDelete">
				{{person_name.name}}
			</div>
		</div>
		<!-- CONTENT END -->
		<div class="actions">
			<div class="ui positive button" translate>
				tab_user_delete_user_ok
			</div>
			<div class="ui negative button" translate>
				tab_user_delete_user_no
			</div>
		</div>
	</div>

</div>