<div class="action-btns ui page grid" sticky ng-cloak>
	<div class="column">
		
		<button class="ui black button" ng-click="goBackUser()" ng-show="showGoBack" translate>
			tab_address_setting_goback
		</button>
		<button accessible-form ng-click="openModal('setting-add-phone');newPhone()" class="ui labeled green button small" translate>  tab_phone_setting_add_phone</button>
		<button accessible-form ng-click="multiDelete('phone-table-personal', 'multi-delete-phone', confirmDeletePhone);" class="ui labeled red button small" ng-show="showadd && showpersonal" translate> tab_phone_setting_delete_phone_numbers</button>
		<button accessible-form ng-click="multiDelete('phone-table-business', 'multi-delete-phone', confirmDeletePhone);" class="ui labeled red button small" ng-show="showadd && showbusiness" translate> tab_phone_setting_delete_phone_numbers</button>
		<div class="ui buttons" style="float: right;" >
			<button class="ui  button" id="Npersonalbtn" ng-click="showPersonal('p')">Personal</button>
			<div ng-if="companies.length" class="or"></div>
			<button ng-if="companies.length" class="ui button"  id="Nbusinessbtn" ng-click="showPersonal('b')">Business</button>
		</div>
	</div><!-- column end -->
</div><!-- ui page grid end -->


<div class="ui page grid" ng-show="showpersonal">
	<div class="column">
		<div ng-include src="'views/templates/partials/no-data-available.html'" ng-show="!personal_number || personal_number.length==0"></div> 
		<div ng-if="personal_number && personal_number.length>0">
			<table class="ui compact table phone-table-personal segment">
				<thead>
					<tr>
						<th class="one wide center check-box">
							<div class="ui checkbox check-all" ng-click="checkAll('phone-table-personal')">
								<input type="checkbox" name="select-all">
								<label></label>
							</div>
						</th>
						<th class="three wide center address-id" translate> tab_phone_setting_id  </th>
						<th class="four wide center address-name" translate> tab_phone_setting_edit_number   </th>
						<th class="four wide center address-description" translate> tab_phone_setting_type</th>
						<th class="two wide center address-description" ></th>
					</tr>
				</thead>
				<tbody>
					<tr class="address-row" ng-repeat="phone in personal_number | orderBy:'id'">

						<td class="t-check-box">
							<div class="ui checkbox">
								<input type="checkbox" name="select-user">
							</div>
						</td>
						<td class="t-id">
							{{phone.id}}
						</td>
						<td class="t-address-name">
							<span title="{{phone.number}}">
								{{phone.number}}
							</span>
						</td>
						<td class="t-address-description">
							<span title="{{phone.phone_number_type}}">
								{{phone.phone_number_type | translate}}
							</span>
						</td>
						
						<td class="t-address-edit">
							<a class="ui button small basic" ng-click="openModal('setting-add-phone');selectPhone(phone)" translate> tab_address_setting_edit </a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div><!-- column end -->
</div><!-- ui page grid end -->


<div class="ui page grid" ng-show="showbusiness">
	<div class="column">
		<div ng-include src="'views/templates/partials/no-data-available.html'" ng-show="!business_number || business_number.length==0"></div> 
		<div ng-if="business_number && business_number.length>0">
			<table class="ui compact table phone-table-business segment">
				<thead>
					<tr>
						<th class="one wide center check-box">
							<div class="ui checkbox check-all" ng-click="checkAll('phone-table-business')">
								<input type="checkbox" name="select-all">
								<label></label>
							</div>
						</th>
						<th class="three wide center address-id" translate> tab_phone_setting_id  </th>
						<th class="four wide center address-name" translate> tab_phone_setting_edit_number   </th>
						<th class="four wide center address-description" translate> tab_phone_setting_type</th>
						<th class="two wide center address-description" ></th>
					</tr>
				</thead>
				<tbody>
					<tr class="address-row" ng-repeat="phone in business_number | orderBy:'id'">

						<td class="t-check-box">
							<div class="ui checkbox">
								<input type="checkbox" name="select-user">
							</div>
						</td>
						<td class="t-id">
							{{phone.id}}
						</td>
						<td class="t-address-name">
							<span title="{{phone.number}}">
								{{phone.number}}
							</span>
						</td>
						<td class="t-address-description">
							<span title="{{phone.phone_number_type}}">
								{{phone.phone_number_type | translate}}
							</span>
						</td>
						
						<td class="t-address-edit">
							<a class="ui button small basic" ng-click="openModal('setting-add-phone');selectPhone(phone)" translate> tab_address_setting_edit </a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div><!-- column end -->
</div><!-- ui page grid end -->



<!-- Modals ====================================================================== -->

<!-- delete multiple address -->
<div class="ui small modal" id="multi-delete-phone">
	<i class="close icon"></i>
	<div class="header">
		<h3 class="ui blue header" translate> tab_address_setting_delete_items  </h3>
	</div>
	<div class="content">
		<p> {{'tab_address_setting_delete_items_message' | translate }}  {{itemDeleteCount}}  {{'tab_address_setting_delete_items_message2' | translate }} </p>
	</div><!-- CONTENT END -->
	<div class="actions">
		<div class="ui positive button" ng-click="closeModal()" translate>
			tab_address_setting_yes
		</div>
		<div class="ui negative button" translate>
			tab_address_setting_no
		</div>
	</div>
</div><!-- MODAL END -->

<!-- add addresses -->
<div class="ui modal" id="setting-add-phone">
	<i class="close icon"></i>
	<div class="header" translate>
		tab_phone_setting_edit_phone  
	</div>
	<div class="content">
		<div name="addressForm" class="ui form phone-number-form">
			<div class="ui basic campaign-bg segment">
				<div class=" ui two column stackable grid" ng-if="showbusiness">
					<div class="five wide column">
						<h3 class="ui header" translate>tab_phone_company </h3>
					</div>
					<div class="eleven wide column">
						<div class="field" ng-if="!showBusName">
							<div class="ui selection dropdown" ng-model="company_selected" ng-if="companies.length"  id="company-dropdown">
								<input type="hidden" name="company_select">
								<div class="default text" id="defaulttext" translate="tab_address_company_select"></div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item"  id="datavalue" data-value="{{company.id}}" ng-repeat="company in companies" ng-click="selectCompany(company.id)">{{company.name}}</div>
								</div>
							</div>
						</div>
						<div ng-if="showBusName">{{phoneSelected.business_organization}}</div>
					</div>
				</div>
				<div class="ui two column stackable grid">
					<div class="five wide column">
						<h3 class="ui header" translate>  tab_phone_setting_edit_number </h3>
					</div>
					<div class="eleven wide column">
						<div class="field">
							<div class="ui corner labeled input">
								<!-- <input type="text" ng-model="phoneSelected.number" name="number" ng-attr-placeholder="{{'tab_phone_setting_edit_number' | translate}}"> -->
								<!-- <input type="text" ng-model="phoneSelected.number" name="number" ng-attr-placeholder="{{'tab_phone_setting_edit_number' | translate}}" ng-keypress="formPreventDefault($event)"> -->
								<input type="text" maxLength="25" ng-model="phoneSelected.number" name="number" ng-attr-placeholder="{{'tab_phone_setting_edit_number' | translate}}" ng-keypress="savePhoneInfoEnter($event)">
								<div class="ui red corner label">
									<i class="asterisk icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div> 		
				<div class="ui two column stackable grid">
					<div class="five wide column">
						<h3 class="ui header" translate>  tab_phone_setting_type </h3>
					</div>
					<div class="eleven wide column">
						<div class="field">
							
							<div class="ui fluid selection dropdown" id="card-type">
								<div class="default text" translate="{{phoneName}}"></div>
								<i class="dropdown icon"></i>
								<input type="hidden" name="phone_type" >
								<div class="menu" >
									<div ng-repeat="type in phonetype" ng-click="phoneTypeSelected(type.id)" class="item">{{type.name | translate}}</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui approve button green" ng-click="savePhoneInfo($event)" translate>
			tab_address_setting_save
		</div>
		<div class="ui button" translate>
			tab_address_setting_cancel
		</div>
	</div>
</div>