#campaign-comment {
  .avatar {
    img {
      height: auto !important;
    }
  }

  .content {
    .comment-title {
      padding-top: 4px;
      font-weight: 600;
    }

    .edit-box {
      display: block !important;
    }
  }


  .comment-list {
    padding-bottom: 16px;
  }

  .account-dropdown {
    float: right;
  }
}
