<div class="ui column">
    <div class="pledge-campaign-top-header">
        <div class="ui two column stackable grid">
            <div class="four wide column campaign-img">
                <img ng-if="campaign.files.length" ng-repeat="file in campaign.files | filter:{region_id: RESOURCE_REGIONS.campaign.thumbnail} | orderBy:'-file_id' | limitTo: 1"
                    ng-src="{{server + '/image/campaign_thumbnail_xl/' + file.path_external}}" class="ui image" />
                <img ng-if="campaign.files.length == 0" src="images/placeholder-images/placeholder_campaign_thumb.png" class="ui image" />
            </div>
            <div class="twelve wide column">
                <h1 class="ui header"> {{campaign.name}} </h1>
                <h4> {{'pledge_campaign_by' | translate}} {{campaign.managers[0].first_name}} {{campaign.managers[0].last_name}}</h4>
                <p>{{campaign.blurb}}</p>
            </div>
        </div>
    </div>

    <div class="pledge-campaign-info ui form">
        <div class="pc-contribution-summary">
            <h2 class="section-header ui inverted top attached header">
                <span translate="pledge_campaign_main_header"></span>
                <div class="contribution-selection" ng-show="!contributionTypeRadio && !anonymousContributionTypeOnly">
                    <div class="ui dropdown card-type" id="contributionMethod">
                        <div class="text">
                            <span translate="{{contribution[0].name}}"></span>
                        </div>
                        <i class="dropdown icon" style="margin-left: 10px;"></i>
                        <input type="hidden" name="card-type">
                        <div class="menu">
                            <div ng-repeat="type in contribution" ng-click="contributionSelected(type)" class="item">{{type.name | translate }}</div>
                        </div>
                    </div>
                </div>
            </h2>
        </div>

        <div class="campaign-bg ui middle attached basic segment">
            <div class="formbg ui two column stackable grid reward-summary">
                <div class="five wide column left-col">
                    <h3 class="ui header" translate>pledge_campaign_confirm_reward</h3>
                    <p translate>
                        pledge_campaign_confirm_reward_note
                    </p>
                </div>

                <div class="eleven wide column right-col">
                    <a ng-href="{{campaign_loc}}" ng-if="campaign.pledges">
                        <div class="ui green label change-reward" translate> pledge_campaign_choose_reward
                        </div>
                    </a>
                    <div class="ui segment reward-wrap" ng-if="campaign.pledges">
                        <div ng-if="selectedReward">
                            <div class="ui two column stackable grid reward-header">
                                <div class="ten wide column reward-title">
                                    <h3 class="title">{{selectedReward.name}}</h3>
                                </div>
                                <div class="right aligned six wide column reward-amount">
                                    {{'pledge_campaign_choose_minimum' |translate}}
                                    <div class="amount">
                                        <span ng-bind-html="selectedReward.amount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></span>
                                        <span class="currency" ng-bind-html="campaign.currencies[0].code_iso4217_alpha"></span>
                                    </div>
                                    <span style="font-size:16px;" ng-show="selectedReward.shipping">{{'pledge_campaign_shipping'|translate}} </span>
                                </div>
                            </div>
                            <!-- <div class="reward-description" ng-hide="reward_html_editor">{{selectedReward.description}}</div> -->
                            <div class="reward-description fr-view" ng-hide="reward_html_editor" html-render html="selectedReward.description"></div>
                            <div ng-show="reward_html_editor" ng-bind-html="selectedReward.description"></div>
                            <div class="reward-etd" ng-if="selectedReward.estimated_delivery_time">{{'pledge_campaign_estimate_dlivery' | translate}} {{selectedReward.estimated_delivery_time}}</div>
                        </div>

                        <div ng-if="!selectedReward">
                            <div translate> pledge_campaign_reward_message</div>
                        </div>
                    </div>

                    <div class="ui two column stackable grid pledge-amount">

                        <div class="eight wide column your-pledge">
                            <h4 class="title" translate>pledge_campaign_yourcontribution</h4>
                            <form class="ui form contribution-form">
                                <div class="field">
                                    <div ng-show="allowDecimalNotation == 2 || allowDecimalNotation == 3" class="contribution-input">
                                        <div class="ui currency-symbol label" ng-bind-html=" ' ' | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></div>
                                        <div class="input-wrap">
                                        <input name="contribution_amount" ng-class="{'has-error': pledgeAmount < selectedReward.amount || !pledgeAmount ||  pledgeAmount < public_settings.site_theme_campaign_min_contribute_amount || (pledgeAmount > max_amoumt && allow_max)}"
                                            type="text" min="{{selectedReward.amount || public_settings.site_theme_campaign_min_contribute_amount}}"
                                            ng-model="campaignFundingGoal.value" number-with-decimals>
                                        </div>
                                        <div ng-if="allowDecimalNotation == 2" class="ui label decimal-value">
                                            <span>.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div ng-show="allowDecimalNotation == 1" class="contribution-input">
                                        <div class="ui label currency-symbol" ng-bind-html=" ' ' | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></div>
                                        <div class="input-wrap">
                                        <input name="contribution_amount_decimal" ng-class="{'has-error': pledgeAmount < selectedReward.amount || !pledgeAmount ||  pledgeAmount < public_settings.site_theme_campaign_min_contribute_amount || (pledgeAmount > max_amoumt && allow_max)}"
                                            type="text" min="{{selectedReward.amount || public_settings.site_theme_campaign_min_contribute_amount}}"
                                            ng-model="campaignFundingGoal.value" number-with-decimals ng-attr-allow-decimal="true">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="eight wide column extra-pledge" ng-if="selectedReward">
                            <h4 class="title" translate> pledge_campaign_extracontribution </h4>
                            <div class="amount" ng-if="pledgeAmount-selectedReward.amount > 0" ng-bind-html="pledgeAmount-selectedReward.amount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></div>
                            <div class="amount" ng-if="pledgeAmount-selectedReward.amount <= 0" ng-bind-html="0 | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></div>
                        </div>
                    </div>
                    <div class="ui form" id="reward-variation-form">
                        <div id="reward-variation" class="ui two column stackable grid" ng-if="enableRewardVariation">
                            <div class="reward-variation-item eight wide column" ng-repeat="variation in selectedReward.attributes.variation">
                                <div class="field">
                                    <label translate>{{variation.name}}</label>
                                    <div class="ui fluid selection dropdown" ng-model="selectedRewardAttrs[$index]">
                                        <input type="hidden" name="variation_value">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">{{variation.name}}</div>
                                        <div class="menu">
                                            <div class="item" data-value="{{$index}}" ng-repeat="choiceItem in variation.choice track by $index">{{choiceItem.value}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="anonymous-contribution-checkbox ui checkbox" ng-model="selecteContributionAnon" ng-show="(anonymousContributionTypeOnly && contributionTypeRadio) || (anonymousContributionTypeOnly && !contributionTypeRadio)">
                        <input type="checkbox">
                        <label translate> pledge_campaign_anon_contribution_only_label </label>
                    </div>
                </div>

                <div class="five wide column left-col" ng-show="contributionTypeRadio && !anonymousContributionTypeOnly">
                    <h3 class="ui header" translate>pledge_campaign_contribution_type</h3>
                    <p translate>
                        pledge_campaign_contribution_type_note
                    </p>
                </div>

                <div class="eleven wide column right-col" ng-show="contributionTypeRadio && !anonymousContributionTypeOnly">

                    <div class="ui two column stackable grid pledge-amount">

                        <div class="eight wide column your-pledge">
                            <div class="grouped inline fields">
                                <div class="field" ng-repeat="type in contribution">
                                    <div class="ui radio checkbox" ng-if="$first" ng-click="contributionSelected(type)">
                                        <input type="radio" name="contribution_types" checked="checked">
                                        <label>{{type.name | translate }}</label>
                                    </div>
                                    <div class="ui radio checkbox" ng-if="!$first" ng-click="contributionSelected(type)">
                                        <input type="radio" name="contribution_types">
                                        <label>{{type.name | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Charity Section-->
                <div class="five wide column left-col" ng-if="public_settings.site_campaign_charity_helper_enable && campaign.charity_id">
                    <h3 class="ui header" translate>pledge_campaign_charity</h3>
                    <p translate>
                        pledge_campaign_charity_note
                    </p>
                </div>
                <div class="eleven wide column right-col" ng-if="public_settings.site_campaign_charity_helper_enable && campaign.charity_id">
                    <div class="ui stackable grid pledge-amount">
                        <div class="eight wide column your-pledge">
                            <div class="grouped inline fields">
                                <div class="ui checkbox" ng-model="charity.is_a_gift" ng-change="isAGift()">
                                    <input type="checkbox" name="is_a_gift_aid">
                                    <label translate>charity_helper_is_a_gift</label>
                                </div>
                                <div class="ui checkbox" ng-show="charity.is_a_gift && !public_settings.site_campaign_charity_helper_alternate_form" ng-model="charity.is_a_tax_payer">
                                    <input type="checkbox" name="is_a_tax_payer">
                                    <label translate>charity_helper_is_a_uk_taxpayer</label>
                                </div>
                                <div class="ui checkbox charity-checkbox" ng-show="charity.is_a_gift && public_settings.site_campaign_charity_helper_alternate_form"
                                    ng-model="charity.is_a_tax_payer">
                                    <input type="checkbox" name="is_a_tax_payer">
                                    <label translate>charity_helper_is_a_uk_taxpayer_alternate</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui form charity-form" ng-show="charity.is_a_tax_payer && charity.is_a_gift && !public_settings.site_campaign_charity_helper_alternate_form">
                        <div class="fields">
                            <div class="row">
                                <div class="field">
                                    <label translate>charity_helper_fullname_header</label>
                                    <input name="charity_full_name" type="text" placeholder="{{'charity_helper_fullname_placeholder' | translate}}" ng-model="charity.fullname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="eleven wide field">
                                    <label translate>charity_helper_address_header</label>
                                    <input name="charity_full_address" type="text" placeholder="{{'charity_helper_address_placeholder'| translate}} " ng-model="charity.address">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" six wide field">
                                    <label translate>charity_helper_postcode_header</label>
                                    <input name="charity_postcode" type="text" placeholder="{{'charity_helper_postcode_placeholder' | translate}}" ng-model="charity.postcode">
                                </div>
                            </div>
                            <div class="ui checkbox" ng-model="charity.charity_final_confirmation">
                                <input type="checkbox" name="charity_final_confirmation">
                                <label>{{'charity_helper_final_confirmation_placeholder_1' | translate}}{{charity_percentage_fee}}{{'charity_helper_final_confirmation_placeholder_2'
                                    | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="ui form charity-form" ng-show="charity.is_a_tax_payer && charity.is_a_gift && public_settings.site_campaign_charity_helper_alternate_form">
                        <div class="fields">
                            <div class="row">
                                <div class="field">
                                    <label translate>charity_helper_fullname_header</label>
                                    <input name="charity_full_name" type="text" placeholder="{{'charity_helper_fullname_placeholder' | translate}}" ng-model="charity.fullname">
                                </div>
                            </div>
                            <div class="ui checkbox" ng-model="charity.overseas">
                                <input type="checkbox" name="is_a_tax_payer">
                                <label translate>charity_helper_house_overseas</label>
                            </div>
                            <div class="row">
                                <div class="eleven wide field">
                                    <label translate>charity_helper_house_number_header</label>
                                    <input name="House Number" type="text" placeholder="{{'charity_helper_house_number_placeholder'| translate}} " ng-model="charity.house_number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="eleven wide field">
                                    <label translate>charity_helper_street_header</label>
                                    <input name="Street" type="text" placeholder="{{'charity_helper_street_placeholder'| translate}} " ng-model="charity.street">
                                </div>
                            </div>
                            <div class="row">
                                <div class="eleven wide field">
                                    <label translate>charity_helper_town_header</label>
                                    <input name="Town or City" type="text" placeholder="{{'charity_helper_town_placeholder'| translate}} " ng-model="charity.city">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" six wide field">
                                    <label translate>{{'charity_helper_postcode_header'| translate}}
                                        <span class="optional-text" translate="campaign_creation_optional_text">(Optional)</span>
                                    </label>
                                    <input name="charity_postcode" type="text" placeholder="{{'charity_helper_postcode_placeholder' | translate}}" ng-model="charity.postcode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="eleven wide field">
                                    <label translate> Country</label>
                                    <select class="charity-country" ng-model="charity.country" ui-select2>
                                        <option value="{{country.country_id}}" class="item" ng-repeat="country in countries">{{country.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ui checkbox" ng-model="charity.charity_final_confirmation">
                                <input type="checkbox" name="charity_final_confirmation">
                                <label>{{'charity_helper_final_confirmation_placeholder_alternate' | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="five wide column left-col" ng-show="isEnableContributionMessage">
                    <h3 class="ui header" translate>pledge_camapaign_contribution_message_notes</h3>
                </div>
                <div class="eleven wide column right-col" ng-show="isEnableContributionMessage">
                    <div class="field">
                        <textarea rows="5" ng-model="contributionMessage"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- campaign-bg end -->

        <h2 class="ui inverted top attached header" translate ng-show="payment_gateway==2"> pledge_campaign_Personal_Info</h2>
        <div class="campaign-bg ui middle attached basic segment" ng-show="payment_gateway==2">
            <div class="formbg ui two column stackable grid">
                <div class="five wide column left-col">
                    <h3 class="ui header" translate>pledge_campaign_Personal_Details</h3>
                </div>
                <div class="eleven wide column right-col">

                    <div class="ui personal-info form">
                        <div class="two fields">
                            <div class="field">
                                <label translate>pledge_campaign_First_Name</label>
                                <input ng-class="{'has-error': !person.fname && (payment_gateway==2) }" type="text" placeholder="{{'pledge_campaign_First_Name'|translate }}"
                                    ng-model="person.fname">
                            </div>
                            <div class="field">
                                <label translate>pledge_campaign_Last_Name</label>
                                <input ng-class="{'has-error': !person.lname && payment_gateway==2 }" type="text" placeholder="{{'pledge_campaign_Last_Name'| translate}}"
                                    ng-model="person.lname">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label translate>pledge_campaign_Employer</label>
                                <input ng-class="{'has-error': !person.employer && payment_gateway==2}" type="text" placeholder="{{'pledge_campaign_Employer' | translate}}"
                                    ng-model="person.employer">
                            </div>
                            <div class="field">
                                <label translate>pledge_campaign_Occupation</label>
                                <input ng-class="{'has-error': !person.occupation && payment_gateway==2 }" type="text" placeholder="{{'pledge_campaign_Occupation' | translate}}"
                                    ng-model="person.occupation">
                            </div>
                        </div>

                        <div class="two fields">
                            <div class="field">
                                <label translate>pledge_campaign_Email</label>
                                <input ng-class="{'has-error': !person.email && payment_gateway==2}" type="text" placeholder="{{'pledge_campaign_Email'| translate}}"
                                    ng-model="person.email">
                            </div>
                            <div class="field">
                                <label translate>pledge_campaign_Phone_Number</label>
                                <input maxLength="25" numbers-Only ng-class="{'has-error': !person.number && payment_gateway==2}" type="text" placeholder="{{'pledge_campaign_Phone_Number'|translate}}"
                                    ng-model="person.number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="ui inverted top attached header" translate ng-show="payment_gateway==2">pledge_campaign_Address_Info</h2>
        <div class="campaign-bg ui middle attached basic segment" ng-show="payment_gateway==2">
            <div class="formbg ui two column stackable grid">
                <div class="five wide column left-col">
                    <h3 class="ui header" translate>pledge_campaign_Address_Details</h3>
                </div>
                <div class="eleven wide column right-col">
                    <div class="ui personal-info form">
                        <div class="two fields">
                            <div class="field">
                                <label translate>pledge_campaign_Address1</label>
                                <input ng-class="{'has-error': !person.address1 && payment_gateway==2}" type="text" placeholder="{{'pledge_campaign_Address1' | translate}}"
                                    ng-model="person.address1">
                            </div>
                            <div class="field">
                                <label translate>pledge_campaign_Address2</label>
                                <input type="text" placeholder="{{'pledge_campaign_Address2' | translate}}" ng-model="person.address2">
                            </div>
                        </div>
                        <div class="two fields">

                            <div class="field" style="margin-top: 2rem;">

                                <div ui-select style="width:100%;" ng-model="selectedCity.selected" theme="select2" reset-search-input="false">
                                    <div ui-select-match placeholder="City/State" id="select_city">
                                        {{$select.selected.name}}
                                    </div>
                                    <div ui-select-choices repeat="city in stateTypes | filter: $select.search" refresh="Cities($select.search)" refresh-delay="200">
                                        <div ng-bind-html="city.name"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label translate>pledge_campaign_Zip</label>
                                <input ng-class="{'has-error': !person.zip && payment_gateway==2}" type="text" placeholder="{{'pledge_campaign_Zip' | translate}}"
                                    ng-model="person.zip">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <h2 class="ui inverted top attached header" translate> pledge_campaign_payment_info </h2>
        <div class="campaign-bg ui middle attached basic segment">
            <div class="formbg ui two column stackable grid" ng-if="payment_gateway==1">
                <div class="ui corner red label" data-content="Required Field" sui-popup="">
                    <i class="white asterisk icon"></i>
                </div>
                <div class="five wide column left-col">
                    <h3 class="ui header" translate> pledge_campaign_cerditcard </h3>
                    <p translate>pledge_campaign_cerditcard_message</p>
                </div>
                <div class="eleven wide column right-col">
                    <div ng-if="pledgerAccountConnected">
                        <div ng-if="oldcard">

                            <form class="ui form choose-card-form">
                                <div class="two fields">
                                    <div class="fourteen wide field">
                                        <div class="ui selection fluid dropdown card-select" id="carddropdown" ng-click="setFlag('newCard', true)" default-value="{{default_card.last4}}">
                                            <input name="choose_card" type="hidden">
                                            <div class="default text" translate="pledge_campaign_creditcard_choose"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div ng-repeat="card in pledgerCards" ng-click="cardSelected(card,$index)" id="cardinfo" class="item c{{card.stripe_account_card_type}}"
                                                    value="{{card.last4}}">
                                                    <img src="images/cards/{{card.stripe_account_card_type}}.png" />**** **** ****
                                                    <span ng-bind="card.last4"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="two wide field">
                                        <div ng-click="openModalById('confirm-delete')" style="visibility:hidden;" id="deletemodal">
                                            <button type="button" class="ui red icon button">
                                                <i class="icon remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <!-- confirm delete modal -->
                            <div class="ui small modal" id="confirm-delete">
                                <div class="header">
                                    <h3 class="ui red header" translate> pledge_campaign_cerditcard_confirm</h3>
                                </div>
                                <div class="content">
                                    <p translate>pledge_campaign_cerditcard_confirm_message</p>
                                </div>
                                <div class="actions">
                                    <div class="ui green button" ng-click="deleteCard()" translate>
                                        pledge_campaign_cerditcard_confirm_ok
                                    </div>
                                    <div class="ui button" translate>
                                        pledge_campaign_cerditcard_confirm_cancel
                                    </div>
                                </div>
                            </div>
                            <!-- MODAL END -->

                            <div class="ui horizontal divider contrib-divider" translate>
                                pledge_campaign_cerditcard_or
                            </div>
                        </div>
                        <div class="ui center aligned basic segment">
                            <div class="ui green button hover" ng-click="clickToggle('newCard'); dropdownReset('.card-select')" translate>
                                pledge_campaign_cerditcard_newcard
                            </div>
                        </div>
                    </div>
                    <!-- credit card info section -->
                    <div ng-if="!toggle.newCard" ng-init="initStripePayment()">
                        <form class="ui form credit-card-form">
                            <div class="eight wide field">
                                <label translate> pledge_campaign_cerditcard_card_number </label>
                                <input name="card_number" type="text" placeholder="{{'pledge_campaign_cerditcard_card_number'| translate}}" ng-model="creditCard.number"
                                    ng-change="checkCardType()" class="creditCardNumber">
                            </div>

                            <div class="two fields">
                                <div class="expdate-field-wrap field">
                                    <input name="exp_date" type="hidden">
                                    <div class="two fields">
                                        <div class="exp-date-field field">
                                            <label translate>pledge_campaign_payment_expiration_month</label>
                                            <input name="card_exp_month" type="text" class="exp-date" placeholder="MM" ng-model="creditCard.exp_month" numbers-only maxlength="2">
                                        </div>
                                        <div class="exp-date-field field">
                                            <label translate>pledge_campaign_payment_expiration_year</label>
                                            <input name="card_exp_year" type="text" class="exp-date" placeholder="YY" ng-model="creditCard.exp_year" numbers-only maxlength="2">
                                        </div>

                                    </div>
                                </div>

                                <div class="cvc-field-wrap four wide field">
                                    <label> {{'pledge_campaign_cerditcard_cvc'|translate}}
                                        <i class="info circle icon" data-content="{{'pledge_campaign_creditcard_cvc_note'| translate }}"
                                            sui-popup></i>
                                    </label>
                                    <input name="card_cvc" placeholder="CVC" type="text" class="cvv-code cardCVC" ng-model="creditCard.cvc" numbers-only>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="formbg ui two column stackable grid" ng-if="payment_gateway==2">
                <div class="five wide column left-col">
                    <h3 class="ui header" translate> pledge_campaign_cerditcard </h3>
                </div>
                <div class="eleven wide column right-col">
                    <div class="ui credit-card form">
                        <div class="two fields">
                            <div class="field">
                                <label translate> pledge_campaign_cardholder_name </label>
                                <input ng-class="{'has-error': !creditCard.name && payment_gateway==2 }" type="text" placeholder="{{'pledge_campaign_cerditcard_name'|translate}}"
                                    ng-model="creditCard.name">
                            </div>
                            <div class="field"></div>
                        </div>


                        <div class="two fields">
                            <div class="field">
                                <label translate> pledge_campaign_cerditcard_card_number </label>
                                <input class="creditCardNumber" ng-class="{'has-error': !creditCard.number && payment_gateway==2}" type="text" placeholder="{{'pledge_campaign_cerditcard_card_number'| translate}}"
                                    ng-model="creditCard.number" maxlength="19">
                            </div>
                            <!-- <div class="field">
											<label>Card Type</label>
											<div class="ui fluid selection dropdown card-type" id="card-type" >
												<div class="text" > {{cardtype[0].name}}</div><i class="dropdown icon"></i>
												<input type="hidden" name="card-type" >
												<div class="menu" >
													<div ng-repeat="type in cardtype"  ng-click="cardTypeSelected(type)" class="item">{{type.name| translate}}</div>
												</div>
											</div>
										</div> -->
                        </div>

                        <div class="fields">
                            <div class="expdate-field-wrap field">
                                <label> {{'pledge_campaign_cerditcard_expiration_date' | translate}}
                                    <i class="info circle icon" data-content=" The two digit month and year of your credit card expiration date"></i>
                                </label>
                                <div class="two fields">
                                    <div class="exp-date-field field">
                                        <input ng-class="{'has-error': !creditCard.exp_month && payment_gateway==2}" type="text" class="exp-date" placeholder="MM"
                                            ng-model="creditCard.exp_month" numbers-only maxlength="2">
                                    </div>
                                    <div class="exp-date-field field">
                                        <input ng-class="{'has-error': !creditCard.exp_year && payment_gateway==2}" type="text" class="exp-date" placeholder="YY"
                                            ng-model="creditCard.exp_year" numbers-only maxlength="2">
                                    </div>

                                </div>
                            </div>

                            <div class="field">
                                <label id="cvc"> {{'pledge_campaign_cerditcard_cvc'|translate}}
                                    <i class="info circle icon" data-content="{{'pledge_campaign_creditcard_cvc_note'| translate }}"></i>
                                </label>
                                <input ng-class="{'has-error': !creditCard.cvc && payment_gateway==2 }" placeholder="CVC" type="text" class="cvv-code" ng-model="creditCard.cvc"
                                    numbers-only maxlength="5">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 ng-if="shippingOption.length" class="ui inverted top attached header" translate> pledge_campaign_shipping_info</h2>
        <div ng-if="shippingOption.length" class="shipping-info campaign-bg ui middle attached basic segment">
            <div class="formbg ui two column stackable grid">
                <div class="ui corner red label" data-content="Required Field" sui-popup="">
                    <i class="white asterisk icon"></i>
                </div>
                <div class="five wide column left-col">
                    <h3 class="ui header" translate> pledge_campaign_shipping_address </h3>
                    <p translate>pledge_campaign_shipping_address_message</p>
                </div>
                <div class="eleven wide column right-col">
                    <div ng-if="hasAddress">
                        <form class="ui form choose-address-form">
                            <div class="field">
                                <div class="ui selection fluid dropdown address-select">
                                    <input name="choose_address" type="hidden">
                                    <div class="default text" translate="pledge_campaign_shipping_choose_address"></div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div ng-repeat="address in profileAddress.personal" ng-click="setFlag('newAddress', true); addressSelected(address)" class="item">
                                            <span ng-hide="native_lookup">
                                                {{address.street1}}, {{address.city_full}} | {{address.mail_code}}
                                            </span>
                                            <span ng-show="native_lookup">
                                                <span translate="pledge_campaign_Zip_symbol"></span>{{address.mail_code}} {{address.city_full}} {{address.street1}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="ui horizontal divider contrib-divider" translate>
                            pledge_campaign_cerditcard_or
                        </div>
                        <div class="ui center aligned basic segment">
                            <div class="ui green button hover" ng-click="clickToggle('newAddress'); dropdownReset('.address-select')" translate>
                                pledge_campaign_cerditcard_newaddress
                            </div>
                        </div>
                    </div>

                    <div ng-if="!toggle.newAddress">
                        <div ng-if="!alt_shipping">
                            <div class="ui new-shipping-address-form form">
                                <div class="field">
                                    <label translate>pledge_campaign_cerditcard_newaddress1 </label>
                                    <input name="country" type="text" ng-model="address.street1" placeholder="{{'pledge_campaign_cerditcard_streetaddress'|translate}}">
                                </div>
                                <div class="two fields">
                                    <div class="field" id="select-city">
                                        <label translate> pledge_campaign_shipping_address_city</label>
                                        <div ui-select style="width:100%;" ng-model="selectedCity.selected" theme="select2" reset-search-input="false">
                                            <div ui-select-match placeholder="{{'pledge_campaign_shipping_address_city_placeholder'| translate}}">
                                                {{$select.selected.name}}
                                            </div>
                                            <div ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities($select.search)" refresh-delay="200">
                                                <div ng-bind-html="city.name"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label translate> pledge_campaign_cerditcard_postalcode </label>
                                        <input name="mail_code" type="text" ng-model="address.mail_code" placeholder="{{'pledge_campaign_cerditcard_postalcode' | translate}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!toggle.newAddress">
                        <div ng-if="alt_shipping">
                            <div class="ui new-shipping-address-form form">
                                <div class="two fields">
                                    <div class="field">
                                        <label translate="pledge_campaign_shipping_country"></label>
                                        <div class="ui selection dropdown altCountry" ng-class="{'has-error': !selectedCountry.selected && !toggle.newAddress}">
                                            <input name="country" type="hidden" ng-attr-value="{{selectedCountry.selected.name}}">
                                            <div class="text" ng-bind="selectedCountry.selected.name"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item" ng-repeat="country in countries" ng-bind="country.name" ng-click="setCountry(country)"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label translate> pledge_campaign_cerditcard_postalcode </label>
                                        <input name="mail_code" type="text" ng-model="address.mail_code" placeholder="{{'pledge_campaign_cerditcard_postalcode' | translate}}">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field" id="select-subcountry">
                                        <label translate="pledge_campaign_sub_country"></label>
                                        <div ui-select style="width:100%;" ng-model="selectedSubcountry.selected" theme="select2" reset-search-input="false" ng-disabled="!selectedCountry.selected">
                                            <div ui-select-match placeholder="{{'pledge_campaign_sub_country_placeholder'| translate}}">
                                                {{$select.selected.name}}
                                            </div>
                                            <div ui-select-choices repeat="subcountry in subcountries | filter: $select.search">
                                                <div ng-bind="subcountry.name"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field" id="select-city">
                                        <label translate> pledge_campaign_shipping_address_city</label>
                                        <div ui-select style="width:100%;" ng-model="selectedCity.selected" theme="select2" reset-search-input="false" ng-disabled="!selectedSubcountry.selected">
                                            <div ui-select-match placeholder="{{'pledge_campaign_shipping_address_city_placeholder'| translate}}">
                                                {{$select.selected.name}}
                                            </div>
                                            <div ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities($select.search)" refresh-delay="200">
                                                <div ng-bind-html="city.name"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label translate>pledge_campaign_cerditcard_newaddress1 </label>
                                    <input name="street_address" type="text" ng-model="address.street1" placeholder="{{'pledge_campaign_cerditcard_streetaddress'|translate}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui warning message" ng-show="shipping_error">{{'shipping_error_message'|translate}}</div>
                    <table class="ui table" ng-if="shipOptions.length">
                        <thead>
                            <tr>
                                <th translate> pledge_campaign_shipping_type</th>
                                <th translate> pledge_campaign_shipping_country</th>
                                <th translate> pledge_campaign_sub_country</th>
                                <th translate> pledge_campaign_shipping_fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'positive': $index == costIndex}" ng-repeat="shipping in shipOptions" ng-init="shippingOptionString(shipping.shipping_option_type_id)">
                                <td>{{shipping_option}}</td>
                                <td>{{shipping.country}}</td>
                                <td>{{shipping.sub_country}}</td>
                                <td class="payment-amnt" ng-bind-html="shipOptions[0].cost || 0 | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h2 ng-if="shippingOption.length" class="ui inverted top attached header" translate="pledge_campaign_Phone_Number_Info"></h2>
        <div ng-if="shippingOption.length" class="shipping-info campaign-bg ui middle attached basic segment">
            <div class="formbg ui two column stackable grid">
                <div class="five wide column left-col">
                    <h3 class="ui header" translate="pledge_campaign_Phone_Number"></h3>
                    <p ng-if="!public_settings.site_campaign_reward_phone_required" translate="pledge_campaign_phone_number_message"></p>
                    <p ng-if="public_settings.site_campaign_reward_phone_required" translate="pledge_campaign_phone_number_message_required"></p>
                </div>
                <div class="eleven wide column right-col">
                    <div ng-if="hasNumber">
                        <div class="ui form" id="phone-number-form">
                            <div class="field">
                                <div class="ui selection fluid dropdown number-select" ng-click="setFlag('newNumber', true)">
                                    <div class="default text" translate="pledge_campaign_shipping_choose_phone_number">
                                    </div>
                                    <input type="hidden" name="phone_value">
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div ng-repeat="pNumber in personalNumbers" ng-click="contactPhoneSelected(pNumber)" class="item">{{pNumber.number}} | {{phonetype[pNumber.phone_number_type_id-1].name | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui horizontal divider contrib-divider" translate="pledge_campaign_cerditcard_or"></div>
                        <div class="ui center aligned basic segment">
                            <div class="ui green button hover" ng-click="clickToggle('newNumber'); dropdownReset('.number-select')" translate="pledge_campaign_create_new_phone_number">
                            </div>
                        </div>
                    </div>

                    <div ng-hide="toggle.newNumber" class="newNumber">
                        <div class="ui form" id="new-phone-number-form">
                            <div class="two fields">
                                <div class="field">
                                    <label translate="pledge_campaign_Phone_Number"></label>
                                    <input maxLength="25" type="text" ng-model="newNumberCreated.number" name="new_phone_number" placeholder="{{'pledge_campaign_Phone_Number' | translate}}"
                                    />
                                </div>
                                <div class="field">
                                    <label translate="pledge_campaign_Phone_Type"></label>
                                    <div class="ui selection dropdown">
                                        <div class="text" ng-bind="Ptype"></div>
                                        <input type="hidden" name="new_phone_type">
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" ng-repeat="type in phonetype" ng-click="phoneTypeSelected(type)">{{type.name | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pc-payment-information">
            <div class="ui basic segment payment-total">
                <table class="ui very basic table payments">
                    <tbody>
                        <tr>
                            <td class="payment-label" translate> pledge_campaign_your_contribution </td>
                            <td class="payment-amnt">
                                <span ng-bind-html="pledgeAmount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></span>
                                <span class="currency" ng-bind-html="campaign.currencies[0].code_iso4217_alpha"></span>
                            </td>
                        </tr>
                        <tr ng-if="shippingOption.length">
                            <td class="payment-label" translate> pledge_campaign_your_shiping</td>
                            <td class="payment-amnt">
                                <span ng-bind-html="shipOptions[0].cost || 0 | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></span>
                                <span class="currency" ng-bind-html="campaign.currencies[0].code_iso4217_alpha"></span>
                            </td>
                        </tr>
                        <tr class="payment-row">
                            <td class="payment-label" translate> pledge_campaign_total_payment </td>
                            <td class="payment-amnt">
                                <span ng-bind-html="total(shipOptions[0].cost) | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></span>
                                <span class="currency" ng-bind-html="campaign.currencies[0].code_iso4217_alpha"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="agreement ui form" ng-if="contrib">
            <div class="inline field">
                <div class="ui red pointing error right label" ng-show="!agreed && tos_not_checked" translate="">please_confirm_tos</div>
                <div class="ui checkbox" ng-class="{'has-error': !agreed && tos_not_checked }" ng-model="agreed" id="pledgecheck">
                    <input type="checkbox" id="terms">
                    <label for="terms"> {{'pledge_campaign_checkbox' | translate}}
                        <a href="tos" target="_blank">
                            <em> {{'pledge_campaign_term_service' | translate}}</em>
                        </a>
                        <a href="privacy" target="_blank">
                            <em>{{'pledge_campaign_privacy' | translate}}</em>
                        </a>
                        {{'ampersand' | translate}}
                        <a href="cookies" target="_blank">
                            <em> {{'cookies_policy_text' | translate}}</em>
                        </a>
                    </label>
                </div>
            </div>
        </div>

        <div ng-include src="'views/templates/partials/response-message.html'"></div>
        <div class="pledge-btns ui right aligned basic btn segment">
            <div class="ui black button" ng-click="goBackToCampaign()" translate> pledge_campaign_goback</div>
            <div accessible-form class="ui right labeled icon blue button" ng-click="submit()" id="finalpledge" ng-if="payment_gateway==1">
                {{'pledge_campaign_pledge'|translate}}
                <i class="right arrow icon"></i>
            </div>
            <div accessible-form class="ui right labeled icon blue button" ng-click="submitWidgetPledge()" id="finalpledge" ng-if="payment_gateway==2">
                {{'pledge_campaign_pledge'|translate}}
                <i class="right arrow icon"></i>
            </div>

        </div>
    </div>
</div>