<div>
  <img class="ui image" src="/images/placeholder-images/custom_page_header_placeholder_image.png" style="margin: 0 auto !important; width: 100%;">
</div>
<div style="background: #1b1c1d; padding: 50px 0;">
  <div class="ui page grid">
    <div class="column center aligned">
      <h1 class="ui header"><span style="color: #fff;">Contact Us</span></h1>
      <h2 class="ui header"><span style="color: #fff;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h2>
    </div>
  </div>
</div>

<div style="padding: 100px 0;">
  <div class="ui two column stackable page grid">
    <div class="column">
      <div class="ui form contact-form">
        <div class="ui page dimmer contact-success-dimmer">
          <div class="content">
            <div class="center"> Your message has been sent successfully.</div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui icon input large field-name">
              <input type="text" name="name" placeholder="Full Name" ng-model="formData.name">
              <div class="ui red corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui icon input large field-email">
              <input type="email" name="email" placeholder="Email" ng-model="formData.email">
              <div class="ui red corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui input large field-business">
              <input name="business_organization" type="text" placeholder="Business Organization (Optional)">
            </div>
          </div>
          <div class="field">
            <div class="ui input large field-phone">
              <input name="phone_number" type="text" placeholder="Phone Number (Optional)" ng-model="formData.phone">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui icon input large field-message">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message" ng-model="formData.description"></textarea>
            <div class="ui red corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>

        <div class="ui right aligned basic segment center aligned">
          <div class="ui teal submit button"> Send </div>
        </div>
      </div>
    </div>
    <div class="column">
      <h2 class="ui header">Title Goes Here</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad rem optio nostrum vel natus similique neque ea possimus assumenda inventore ullam totam eveniet, nisi in itaque omnis, animi soluta iure!</p>

      <div class="ui inverted teal segment" style="padding: 25px; margin-top: 30px;">
        <h2 class="ui header">Thrinacia</h2>
        <div class="ui list">
          <div class="item" style="display: flex; align-items: center;">
            <i class="map marker large icon"></i>
            <div class="content">
              <h3 class="ui header"><span style="color: #fff;">Unit #110 19162 22'nd Av. </span><br>
                <span style="color: #fff;">Surrey, B.C Canada V3S 3S6</span>
              </h3>
            </div>
          </div>
          <div class="item" style="display: flex; align-items: center;">
            <i class="call large icon"></i>
            <div class="content">
              <h3 class="ui header"><span style="color: #fff;">999 999-9999</span></h3>
            </div>
          </div>
          <div class="item" style="display: flex; align-items: center;">
            <i class="mail large icon"></i>
            <div class="content">
              <h3 class="ui header"><a href="mailto:hello@company.com"><span style="color: #fff !important;">hello@company.com</span></a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
