// Make sure to comment out the section you are styling 
// Any new styling must start at the bottom
///////////////////////////////////////////////
// Custom Comment START
///////////////////////////////////////////////
.subject {
  font-weight: bold;
}

.comment {
  margin: 20px 10px !important;
  // padding: 15px !important;
  border-radius: 5px !important;
}