<div class="grid-column title-header center">
	<div class="header">
		<h1>How It Works</h1>
	</div>
</div>
<div class="grid-row">
	<nav class="picture-menu eight wide column">
		<div class="position-relative">
			<img src="https://krowd.atlas.thrinacia.com/api/static/images/portal/b0/db/a2/20ABABAC-4026-11EC-94E9-3EEC9B719BCB-image-dc702fd9ff4ed6f1a1e9ab8c2d3f818e9df1e532cf2dda15622b4fb731ed2b9e.jpg" data-disabled="0" data-category_name="null" data-created="2021-11-07 15:55:04.410255-08" data-region_resource_id="21" data-extension="jpg" data-file_id="34" data-name="time-4559218_1920.jpg" data-modified="2021-11-07 15:55:04.410255-08" data-region_id="1" data-resource_content_type_id="3" data-mime_type="image/jpeg" data-file_type_id="2" data-category_id="null" data-resource_content_type="image" data-file_type="JPG JFIF Image" data-resource_type="file" data-id="21" data-description="JPG JFIF Image File" data-path_external="portal/b0/db/a2/20ABABAC-4026-11EC-94E9-3EEC9B719BCB-image-dc702fd9ff4ed6f1a1e9ab8c2d3f818e9df1e532cf2dda15622b4fb731ed2b9e.jpg" >
			<a href="#usingKrowdFire" class="how-it-works-nav-hero-header abs-bot padding-1-2 grid-auto-flow-column justify-between" >
				<h3>Using KrowdFire</h3>
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24"/></g><g><g><polygon points="6.41,6 5,7.41 9.58,12 5,16.59 6.41,18 12.41,12"/><polygon points="13,6 11.59,7.41 16.17,12 11.59,16.59 13,18 19,12"/></g></g></svg>
			</a>
		</div>
		<div class="position-relative">.
			<img src="https://krowd.atlas.thrinacia.com/api/static/images/portal/36/12/52/67E15CC8-314A-11EC-B760-B7729C719BCB-image-de2a2b880db5f0bc1478d56d384dc2a1559045c1ee09c6ecd74f64578d647164.png" data-resource_type="file" data-path_external="portal/36/12/52/67E15CC8-314A-11EC-B760-B7729C719BCB-image-de2a2b880db5f0bc1478d56d384dc2a1559045c1ee09c6ecd74f64578d647164.png" data-file_type_id="4" data-id="13" data-category_name="null" data-category_id="null" data-mime_type="image/png" data-modified="2021-10-19 19:06:58.435281-07" data-created="2021-10-19 19:06:58.435281-07" data-file_type="PNG Image" data-file_id="26" data-resource_content_type="image" data-region_id="1" data-disabled="0" data-extension="png" data-resource_content_type_id="3" data-region_resource_id="13" data-description="PNG Image File" data-name="Screen Shot 2021-10-18 at 8.14.40 PM.png" >
			<a href="#fundraiser-start" class="how-it-works-nav-hero-header abs-bot padding-1-2 grid-auto-flow-column justify-between">
				<h3>The KEY to KROWDFIRE Crowdfunding Success</h3>
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24"/></g><g><g><polygon points="6.41,6 5,7.41 9.58,12 5,16.59 6.41,18 12.41,12"/><polygon points="13,6 11.59,7.41 16.17,12 11.59,16.59 13,18 19,12"/></g></g></svg>
			</a>
		</div>
		<div class="position-relative">
			<img src="https://krowd.atlas.thrinacia.com/api/static/images/portal/d6/aa/ee/9E14CE1E-4028-11EC-86B5-3FEC9B719BCB-image-2da60a4ed81439494be5d8fc7693048250d4718aab0dec334de70395e104b033.png" data-category_name="null" data-disabled="0" data-created="2021-11-07 16:12:54.56072-08" data-region_resource_id="24" data-extension="png" data-file_id="37" data-name="Screen Shot 2021-10-18 at 8.09.58 PM.png" data-modified="2021-11-07 16:12:54.56072-08" data-region_id="1" data-resource_content_type_id="3" data-mime_type="image/png" data-category_id="null" data-file_type_id="4" data-file_type="PNG Image" data-resource_content_type="image" data-resource_type="file" data-id="24" data-description="PNG Image File" data-path_external="portal/d6/aa/ee/9E14CE1E-4028-11EC-86B5-3FEC9B719BCB-image-2da60a4ed81439494be5d8fc7693048250d4718aab0dec334de70395e104b033.png" >
			<a href="#important-information" class="how-it-works-nav-hero-header abs-bot padding-1-2 grid-auto-flow-column justify-between">
				<h3>Important Information</h3>
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24"/></g><g><g><polygon points="6.41,6 5,7.41 9.58,12 5,16.59 6.41,18 12.41,12"/><polygon points="13,6 11.59,7.41 16.17,12 11.59,16.59 13,18 19,12"/></g></g></svg>
			</a>
		</div>
	</nav>
	<!--<div class="grid-row pad-2">


		<p>Become a Supporter and donate to a Campaign you feel is interesting or worthy. In doing so, you will be supporting someone in a manner similar to other donation-driven Crowdfunding Websites. A donation can be for $25, $50 or $75.</p><a class="accent-button" style="
    width: 100%;">Request Invitation</a></div>-->
</div>
<div class="column m-2-0 padding-0-10" id="usingKrowdFire">
	<div class="grid-row split-columns">
		<div class="align-box-center">

			<h1 class="span-2">Using KrowdFire</h1>
			<img src="https://krowd.atlas.thrinacia.com/api/static/images/portal/36/12/52/25EF49E0-4100-11EC-A2A9-3FEC9B719BCB-image-de2a2b880db5f0bc1478d56d384dc2a1559045c1ee09c6ecd74f64578d647164.png" data-file_id="38" data-extension="png" data-region_resource_id="25" data-created="2021-11-08 17:55:44.159411-08" data-category_name="null" data-disabled="0" data-resource_content_type_id="3" data-region_id="1" data-modified="2021-11-08 17:55:44.159411-08" data-name="Screen Shot 2021-10-18 at 8.14.40 PM.png" data-description="PNG Image File" data-id="25" data-resource_type="file" data-resource_content_type="image" data-file_type="PNG Image" data-category_id="null" data-file_type_id="4" data-mime_type="image/png" data-path_external="portal/36/12/52/25EF49E0-4100-11EC-A2A9-3FEC9B719BCB-image-de2a2b880db5f0bc1478d56d384dc2a1559045c1ee09c6ecd74f64578d647164.png" class="fr-fil fr-dib"></div>
		<div class="align-box-center pad-2">

			<h3 class="header">There are several ways to participate as a Member of the KROWDFIRE Website once you have joined as a Member.</h3>


			<p>Become a Supporter and donate to a Campaign you feel is interesting or worthy. In doing so, you will be supporting someone in a manner similar to other donation-driven Crowdfunding Websites. A donation can be for $25, $50 or $75.</p><a class="accent-button">Donate</a></div>
	</div>
</div>
<div class="grid-column title-header center">
	<div class="header">

		<h1>Feel free to choose both</h1>
	</div>
</div>
<section class="grid-row split-columns gap-2 m-2-0 padding-0-10">
	<div class="eight wide column">

		<h3 class="header" id="fundraiser-start">Start your fundraiser</h3>

		<p>Become a Fundraiser with the intention to create your own Campaign. After being invited to &ldquo;Join Us&rdquo;, you begin this process by donating $75 &ndash; one time only &ndash; as directed by the person who invited you to KROWDFIRE or if you are a Walk-In Visitor to the website, you can begin by requesting an invitation.</p>

		<h3>Members can and are encouraged to donate to other campaigns</h3>

		<p>As a Member, you are always eligible to donate to a current Campaign at any time and help support that Campaign Creator.</p>

		<p>And at any time, you can decide to become a Fundraiser and begin that fundraising process for yourself. Simply support the Campaign of the person who invited you to KROWDFIRE &ndash; or request an &ldquo;invitation&rdquo; as previously described.</p>
	</div>
	<div class="column"><img src="https://krowd.atlas.thrinacia.com/api/static/images/portal/d6/aa/ee/8B2F75D4-314A-11EC-B760-B7729C719BCB-image-2da60a4ed81439494be5d8fc7693048250d4718aab0dec334de70395e104b033.png" data-category_id="null" data-id="14" data-category_name="null" data-resource_type="file" data-path_external="portal/d6/aa/ee/8B2F75D4-314A-11EC-B760-B7729C719BCB-image-2da60a4ed81439494be5d8fc7693048250d4718aab0dec334de70395e104b033.png" data-file_type_id="4" data-resource_content_type="image" data-file_type="PNG Image" data-file_id="27" data-created="2021-10-19 19:07:58.319455-07" data-modified="2021-10-19 19:07:58.319455-07" data-mime_type="image/png" data-region_resource_id="14" data-resource_content_type_id="3" data-disabled="0" data-region_id="1" data-extension="png" data-description="PNG Image File" data-name="Screen Shot 2021-10-18 at 8.09.58 PM.png" ></div>
</section>
<section class="grid-row split-columns gap-2 m-4-0 padding-0-10">
	<div class="grid-row">

		<h1 id="key-to-success">The KEY to KROWDFIRE Crowdfunding Success</h1>

		<h3>How To Raise Significantly More Money For Your Campaign Using Our Patent-Pending Algorithm Advantage</h3>

		<p>KROWDFIRE is unique because it has a patent-pending Algorithm Advantage that internally generates the Campaign &ldquo;traffic and conversions&rdquo; a Fundraiser needs to be successful. A more detailed explanation can be found on our Home Page where you can watch our &ldquo;Explainer Video&rdquo;. It tells the compelling story of how the Algorithm Advantage works to help our Campaigns succeed when others fail.</p>

		<h3>We are here to help you succeed</h3>

		<p>We know a thing or two about &ldquo;how&rdquo; to succeed with a Crowdfunding Campaign. And that is what led us to the creation of the Algorithm Advantage. We want you to gain the maximum benefit from its use. To help you do this, we have our &ldquo;Campaign Success Workshop&rdquo;. Once you have created your Campaign &ndash; had it vetted and approved &ndash; and have launched it - you will have access to this material that will help ensure your success.</p><a class="accent-button" style="
    width: 100%;">Request Invitation</a></div>
	<div class="column"><img src="https://krowd.atlas.thrinacia.com/api/static/images/portal/b0/db/a2/D1BBD38E-4109-11EC-BCE4-3FEC9B719BCB-image-dc702fd9ff4ed6f1a1e9ab8c2d3f818e9df1e532cf2dda15622b4fb731ed2b9e.jpg" data-created="2021-11-08 19:04:57.111157-08" data-disabled="0" data-category_name="null" data-region_resource_id="26" data-file_id="39" data-extension="jpg" data-modified="2021-11-08 19:04:57.111157-08" data-name="time-4559218_1920.jpg" data-region_id="1" data-resource_content_type_id="3" data-file_type_id="2" data-category_id="null" data-mime_type="image/jpeg" data-file_type="JPG JFIF Image" data-resource_content_type="image" data-resource_type="file" data-description="JPG JFIF Image File" data-id="26" data-path_external="portal/b0/db/a2/D1BBD38E-4109-11EC-BCE4-3FEC9B719BCB-image-dc702fd9ff4ed6f1a1e9ab8c2d3f818e9df1e532cf2dda15622b4fb731ed2b9e.jpg" ></div>
</section>
<section class="align-box-center m-4-0 padding-0-10">
	<div id="important-information" style="display:grid;grid-auto-flow:column;justify-content: center;align-items: center;grid-gap: 2rem;margin: 1.5rem 0px;">
		<div class="column"><img src="https://krowd.atlas.thrinacia.com/api/static/images/portal/1c/3d/19/46EF9DD2-4297-11EC-AAA6-40EC9B719BCB-image-3710dbb5504fb4f2032190910a021325a9c79cdce71fd3ce1fe3634e4d0e07aa.png" data-resource_type="file" data-id="28" data-description="PNG Image File" data-mime_type="image/png" data-file_type_id="4" data-category_id="null" data-file_type="PNG Image" data-resource_content_type="image" data-path_external="portal/1c/3d/19/46EF9DD2-4297-11EC-AAA6-40EC9B719BCB-image-3710dbb5504fb4f2032190910a021325a9c79cdce71fd3ce1fe3634e4d0e07aa.png" data-region_resource_id="28" data-extension="png" data-file_id="41" data-category_name="null" data-disabled="0" data-created="2021-11-10 18:30:04.293204-08" data-region_id="1" data-resource_content_type_id="3" data-name="Vector (6).png" data-modified="2021-11-10 18:30:04.293204-08" style="width: 20px;" ></div>
		<div class="column">

			<h1>Important Information</h1>
		</div>
	</div>

	<p>A Campaign on KROWDFIRE is NOT some &ldquo;get rich quick&rdquo; program. It is not even a &ldquo;get rich slowly&rdquo; program. It is Crowdfunding. Which is &ndash; and has always been &ndash; about helping others with financial challenges by donating to their Campaign.</p>

	<p>It can be your own &ldquo;Self-Help Stimulus Bill&rdquo; that can help you or your business survive economic hardship &ndash; or raise money for something worthy if that is your goal.</p>

	<p>Before you become a Website Member, we encourage you to read the important Information and Disclaimer section to be found here and at the bottom of our Home Page.</p>
</section>
