<div class="ui basic top-header segment" ng-cloak>
  <h2 class="ui header" translate> campaign_management_title_message </h2>
</div>
<div class="mainbody-wrap admin-dashboard">
  <div class="ui page grid">
    <div class="column">
      <div ng-include src="'views/templates/partials/response-message.html'"></div>
    </div>
  </div>
  <div class="campaign-management">
    <div class="sticky-bar ui sticky" sticky>
      <div class="sticky-action-bar ui two column page grid">
        <div class="left floated ten wide column">
          <div class="ui labeled selection dropdown campaign-category-filter">
            <input type="hidden" name="campaign-category" value="{{sortOrFiltersCampaign.filters.category}}">
            <div class="default text" translate="campaign_management_category"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="header" translate="campaign_management_category"></div>
              <div class="item" ng-click="updateFiltersCampaignCategory(category)" translate="campaign_management_allcategory"></div>
              <div class="item" data-value="{{category.id}}" ng-repeat="category in categories | orderBy:'display_priority'" ng-click="updateFiltersCampaignCategory(category.id)" ng-bind="category.name"></div>
            </div>
          </div>
          <div class="ui labeled  selection dropdown campaign-status-filter" id="campaign-status-filter">
            <input type="hidden" name="campaign-status" value="{{sortOrFiltersCampaign.filters.entry_status_id}}">
            <div class="default text" translate="campaign_management_status"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="header" translate="campaign_management_status"></div>
              <div class="item" ng-click="updateFiltersCampaignStatus(status)" translate="campaign_management_allstatus"></div>
              <div class="item" data-value="{{status.id}}" ng-repeat="status in campaignStatus" ng-click="updateFiltersCampaignStatus(status.id)" ng-bind="status.name"></div>
            </div>
          </div>
          <div class="ui labeled  selection dropdown campaign-status-filter">
            <input type="hidden" name="campaign-status" value="{{sortOrFiltersCampaign.sort}}">
            <div class="default text" translate="campaign_management_orderby"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="header" translate="campaign_management_orderby"></div>
              <div class="item" ng-click="updateFiltersCampaignOrder('-created')" data-value="-created" translate="campaign_management_newfirst"></div>
              <div class="item" ng-click="updateFiltersCampaignOrder('created')" data-value="created" translate="campaign_management_oldestfirst"></div>
              <div class="item" ng-click="updateFiltersCampaignOrder('name')" data-value="name" translate="campaign_management_name"></div>
            </div>
          </div>
        </div>
        <div class="right aligned floated six wide column">
          <div class="ui right floated icon input campaign-search-input">
            <input type="text" keyboard-poster post-function="searchCampaign" name="name" placeholder="{{'campaign_management_search_placeholder' | translate}}" ng-model="sortOrFiltersCampaign.filters.name">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="ui page grid">
      <div class="column">
        <div ng-include src="'views/templates/partials/no-data-available.html'" ng-show="campaigns.length == 0"></div>
        <div class="cm-inner ui segment" ng-repeat="campaign in campaigns | limitTo:sortOrFiltersCampaign.pagination.entriesperpage">
          <div class="cm-grid ui two column stackable grid">
            <div class="four wide column left-col">
              <a ng-href="{{campaign.uri_paths[0].path}}" class="img-link" target="_blank">
                <img ng-repeat="file in campaign.files | filter:{region_id: RESOURCE_REGIONS.campaign.thumbnail} | orderBy:'-file_id' | limitTo: 1" ng-if="campaign.files[0].path_external" ng-src="{{server + '/image/campaign_thumbnail_xl/' + file.path_external}}"
                  class="ui image" />
                <img ng-if="!campaign.files[0].path_external" src="images/placeholder-images/placeholder_campaign_thumb.png" class="ui image" />
              </a>
            </div>

            <div class="twelve wide column right-col">
              <div class="cm-name-status ui two column stackable grid">
                <div class="left-col eleven wide column">
                  <h3 class="cm-title-header ui header">
                    <a ng-href="{{campaign.uri_paths[0].path}}" class="cm-name" title="{{campaign.name}}" target="_blank" ng-bind="campaign.name"></a>
                  </h3>
                </div>
                <div class="right-col five wide column">
                  <label class="label-status ui label" ng-class="{'teal':[2,4,5,6,8,9].indexOf(campaign.entry_status_id) > -1, 'blue':[1,10,12].indexOf(campaign.entry_status_id) > -1, 'red':[3,7,11,13].indexOf(campaign.entry_status_id) > -1}" title="{{campaign.entry_status | translate}}">
                    <i class="edit icon" ng-show="[1].indexOf(campaign.entry_status_id) > -1"></i>
                    <i class="time icon" ng-show="[5,8,10,12].indexOf(campaign.entry_status_id) > -1"></i>
                    <i class="checkmark icon" ng-show="[2,6,9].indexOf(campaign.entry_status_id) > -1"></i>
                    <i class="remove icon" ng-show="[3,7,11,13].indexOf(campaign.entry_status_id) > -1"></i>
                    <i class="pause icon" ng-show="[4].indexOf(campaign.entry_status_id) > -1"></i> {{campaign.entry_status | translate}}
                  </label>
                </div>
              </div>

              <div class="cm-actions ui two column stackable grid">
                <div class="thirteen wide column left-col">
                  <button class="ui small basic button" ng-click="editCampaign(campaign)" translate="campaign_management_edit_button"></button>
                  <button ng-if="campaignManagerPauseHide(campaign)" class="ui small basic button" ng-click="changeCampaignStatus(campaign, 4)" translate="campaign_management_pause_button"></button>
                  <button ng-if="campaign.entry_status_id == 4" class="ui small basic button" ng-click="changeCampaignStatus(campaign, 2)" translate="campaign_management_resume_button"></button>
                  <button class="ui small basic button" ng-click="manageStream(campaign)" translate="campaign_management_managestream_button"></button>
                  <button class="ui small basic button" ng-class="{'disabled':campaign.too_late_capture}" ng-if="campaign.entry_status_id == 7" ng-click="changeCampaignStatus(campaign, 6)" translate="campaign_management_acceptcapture_button"></button>
                  <button class="ui small basic button" ng-if="campaignManagerTransactionHide(campaign)" ng-click="getTransecStats(campaign.id)" translate="campaign_management_transaction_button"></button>
                  <button class="ui small basic button" ng-if="campaignManagerHasEndDate(campaign)" ng-click="openExtendCampaignModal(campaign)" translate="campaign_management_extend_campaign_date_button"></button>
                </div>

                <div class="three wide right aligned column right-col" ng-show="campaign.entry_status_id != 11">
                  <button class="ui small negative button" ng-click="cancelCampaign(campaign)" translate="campaign_management_cancel_button"></button>
                </div>
              </div>

              <div class="cm-progress ui indicating progress" ng-if="!(campaign.settings.master_progress_bar_hide)" data-percent="{{temp = campaign.funded_amount / (campaign.funding_goal || 1) * 100; temp >= 100 ? 100 : temp < 1 ? 0 : temp}}">
                <div class="bar"></div>
              </div>

              <div ng-if="public_settings.site_campaign_state_hide">
                <div class="center aligned ui grid">
                  <div ng-if="campaign.settings.state_current">
                    <div id="progress-state" class="ten wide column">
                      <!-- regular title without tool tip -->
                      <h3 ng-if="!(campaign.settings.state_current.tooltip && campaign.settings.state_current.tooltip != '')" class="status-title" ng-bind-html="campaign.settings.state_current.title"></h4>                      
                      <!-- THIS COMMENT IS FOR TOOLTIP -->
                      <h3 ng-if="campaign.settings.state_current.tooltip && campaign.settings.state_current.tooltip != ''" class="status-title" sui-popup data-content="{{campaign.settings.state_current.tooltip}}" data-position="bottom center" ng-bind-html="campaign.settings.state_current.title"></h4>
                      <img class="ui image" ng-src="{{server + '/image/campaign_progress_status/' + campaign.settings.state_current.path}}" alt="state_image"></img>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cm-stats ui three column stackable grid">
                <div class="campaign-actual-amount-funded center aligned column">
                  <div class="stat-text">
                    <span ng-bind-html="campaign.funded_amount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></span>
                    <span ng-bind="campaign.currencies[0].code_iso4217_alpha"></span>
                    <span translate="campaign_management_pledged"></span>
                  </div>
                </div>
                <div class="meta campaign-fund-amount center aligned column">
                  <span class="stat-text" ng-if="!settings.master_progress_bar_hide">{{campaign.funded_amount / (campaign.funding_goal || 1) * 100 | number: 0}}%                            {{ 'campaign_management_pledged_funded' | translate}}
                  </span>
                </div>
                <div class="meta campaign-created center aligned column">
                  <div ng-if="dateInPast(campaign.ends,campaign.seconds_remaining)" style="float:left;" translate="index_closed"></div>

                  <div ng-if="dateInPast(campaign.ends,campaign.seconds_remaining) && (campaign.days_remaining * -1) > 1 " class="stat-text">
                    <span ng-bind="campaign.days_remaining_inclusive * -1"></span>
                    <span translate="{{days_text}}"></span>
                  </div>

                  <div ng-if="dateInPast(campaign.ends,campaign.seconds_remaining) && (campaign.days_remaining * -1) == 1 " class="stat-text">
                    <span ng-bind="campaign.days_remaining_inclusive * -1"></span>
                    <span translate="{{day_text}}"></span>
                  </div>

                  <div ng-if="!dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining > 1 " class="stat-text">
                    <span ng-bind="campaign.days_remaining_inclusive"></span>
                    <span translate="{{rdays_text}}"></span>
                  </div>
                  <div ng-if="!dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 1 " class="stat-text">
                    <span ng-bind="campaign.hours_remaining_inclusive"></span>
                    <span translate="{{rhours_text}}"></span>
                  </div>

                  <div ng-if="dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining== 0 && (campaign.hours_remaining * -1) > 1" class="stat-text">
                    <span ng-bind="campaign.campaign.hours_remaining_inclusive * -1"></span>
                    <span translate="{{hours_text}}"></span>
                  </div>

                  <div ng-if="dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 0 && (campaign.hours_remaining * -1) == 1 " class="stat-text">
                    <span ng-bind="campaign.minutes_remaining_inclusive * -1"></span>
                    <span translate="{{minutes_text}}"></span>
                  </div>

                  <div ng-if="!dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 0 && campaign.hours_remaining  > 1 " class="stat-text">
                    <span ng-bind="campaign.hours_remaining_inclusive"></span>
                    <span translate="{{rhours_text}}"></span>
                  </div>

                  <div ng-if="!dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 0 && campaign.hours_remaining  == 1 " class="stat-text">
                    <span ng-bind="campaign.minutes_remaining_inclusive"></span>
                    <span translate="{{rminutes_text}}"></span>
                  </div>

                  <div ng-if="dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 0 && campaign.hours_remaining == 0  && (campaign.minutes_remaining *-1) > 1" class="stat-text">
                    <span ng-bind="campaign.minutes_remaining_inclusive * -1"></span>
                    <span translate="{{minutes_text}}"></span>
                  </div>

                  <div ng-if="dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 0 &&campaign.hours_remaining == 0  && (campaign.minutes_remaining *-1) == 1 " class="stat-text">
                    <span ng-bind="campaign.minutes_remaining * -1"></span>
                    <span translate="{{minute_text}}"></span>
                  </div>

                  <div ng-if="!dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 0 &&campaign.hours_remaining == 0  && campaign.minutes_remaining > 1 " class="stat-text">
                    <span ng-bind="campaign.minutes_remaining_inclusive"></span>
                    <span translate="{{rminutes_text}}"></span>
                  </div>

                  <div ng-if="!dateInPast(campaign.ends,campaign.seconds_remaining) && campaign.days_remaining == 0 &&campaign.hours_remaining == 0  && campaign.minutes_remaining == 1 " class="stat-text">
                    <span ng-bind="campaign.minutes_remaining"></span>
                    <span translate="{{rminute_text}}"></span>
                  </div>
                  <div ng-show="campaign.ends_date_time == null" class="item f-duration stat-text" translate="Continuous_Campaign"></div>
                  <div ng-show="!campaign.ends && campaign.runtime_days == 1" class="stat-text" translate="campaign_management_Continuous_mode"></div>
                  <div ng-show="!campaign.ends && campaign.runtime_days != 1" class="stat-text" translate="campaign_management_notstarted"></div>
                </div>
              </div>
              <div class="ui info message" ng-if="campaign.too_late_capture && campaign.entry_status_id == 7" translate="campaign_management_too_late_capture_message"></div>
            </div>
          </div>
        </div>

        <div id="searchbox2">
          <label class="per-page-label" translate="campaign_management_show"></label>&nbsp;
          <div class="ui selection  dropdown searchbtn" id="searchbtn">
            <span class="text" id="resultValuev" ng-model="entries">{{totalentry[0]}}</span>
            <i class="dropdown icon"></i>
            <div class="menu" ng-click="checkentry()">
              <div class="item" ng-repeat="entry in totalentry" ng-bind="entry"></div>
            </div>
          </div>
          <label class="per-page-label" translate="campaign_management_results"></label>
        </div>

        <div class="ui basic segment center aligned" style="margin-top:3rem;">
          <div semantic-pagination ng-model="sortOrFiltersCampaign.page" total-pages="sortOrFiltersCampaign.pagination.numpages" update-function="filterCampaign()"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ===================================== MODALS ====================================-->

<!-- Extend campaign modal -->
<div class="ui small modal extend-campaign-modal">
  <i class="close icon"></i>
  <div class="header">
    <h3 class="ui header" translate="campaign_management_extend_campaign_title"></h3>
  </div>
  <div class="content">
    <div class="ui input grid">
      <div class="sixteen wide column start-date" id="start-date-field" >
          <label> {{'get_started_funding_startdate'|translate}} ({{extendingCampaign.timezone_abbrev}})</label>
          <quick-datepicker ng-class="{'startdate-selected' : extendingCampaign.starts_date_time}" ng-model="extendingCampaign.starts_date_time" disable-clear-button="true" date-format='EEEE, MMMM d, yyyy' placeholder="{{get_started_funding_startdate_placeholder}}" ></quick-datepicker>
          <div class="disabled-overlay" ></div>
      </div>

      <div class="eight wide column">
        <label> {{'get_started_funding_numberdays' | translate}}</label>
        <input class="ui ten wide column" type="text" name="runtime_days" ng-attr-placeholder="{{'get_started_funding_numberdays_placeholder' | translate}}" ng-model="extendingCampaign.runtime_days" ng-attr-value="extendingCampaign.runtime_days" 365-only onkeydown="if (event.keyCode == 13) return false;"
          ng-disabled="enableCampaignRevisions && extendingCampaign.entry_status_id == 2  && user.person_type_id !== 1">

        <div>{{numberOfDays}}</div>
      </div>
      <div class="eight wide column">
        <label translate>get_started_duration_Type </label>
        <div class="ui fluid selection dropdown profile-type" ng-class="{'disabled' : enableCampaignRevisions && extendingCampaign.entry_status_id == 2 && user.person_type_id == 2}">
          <div class="text" id="duration_dtext"> {{'get_started_selectone'|translate}}</div>
          <i class="dropdown icon"></i>
          <input type="hidden" name="profile-type" value="{{extendingCampaign.duration_type_id}}">
          <div class="menu">
            <div ng-repeat="type in duration_type" data-value="{{type.id}}" ng-click="durationTypeSelected(type.id)" class="item">{{type.type | translate}}</div>
          </div>
        </div>
      </div>

      <div class="sixteen wide column end-date" id="end-date-field">
        <label> {{'get_started_funding_enddate' |translate}} ({{extendingCampaign.timezone_abbrev}})</label>

        <quick-datepicker ng-class="{'enddate-selected' : extendingCampaign.ends_date_time}" ng-model="extendingCampaign.ends_date_time" disable-clear-button="true" date-format='EEEE, MMMM d, yyyy' date-filter="noPastDates" placeholder="{{get_started_funding_enddate_placeholder}}"
          read-only="true" ng-click="check();" disable-timepicker="{{enableCampaignRevisions && extendingCampaign.entry_status_id == 2 && user.person_type_id == 2}}"></quick-datepicker>

        <div class="disabled-overlay" ng-show="enableCampaignRevisions && extendingCampaign.entry_status_id == 2 && user.person_type_id == 2"></div>
      </div>
    </div>

  </div>
  <!-- CONTENT END -->
  <div class="actions">
    <div class="ui positive button" ng-click="setCampaignEndDate()" translate>
      campaign_management_extend_campaign_date_submit
    </div>
    <div class="ui negative button" translate>
      campaign_management_extend_campaign_date_cancel
    </div>
  </div>
</div>
<!-- End of extend campaign modal -->

<div class="ui small modal cancel-multi-campaign-modal">
  <i class="close icon"></i>
  <div class="header">
    <h3 class="ui blue header" translate="campaign_management_cancel"></h3>
  </div>
  <div class="content">
    <p> {{'campaign_management_cancel_message' | translate}} {{cancellingCampaign.name}}?</p>
  </div>
  <!-- CONTENT END -->
  <div class="actions">
    <div class="ui positive button" ng-click="confirmCancelCampaign(cancellingCampaign)" translate>
      campaign_management_Cancel_yes
    </div>
    <div class="ui negative button" translate>
      campaign_management_cancel_no
    </div>
  </div>
</div>
<!-- MODAL END -->

<!-- end of delete campaign modal -->

<div class="ui large modal edit-campaign-modal">
  <i class="close icon"></i>
  <div class="header">
    <h3 class="ui blue header" translate> campaign_management_edit_campaign </h3>
  </div>
  <div class="content">
    <form name="edit_campaign_form" class="ui form segment" id="edit-campaign">
      <div class="ui two column grid">
        <div class="four wide column">
          <h4 class="ui blue header" translate> campaign_management_edit_campaign_title</h4>
        </div>
        <!-- COLUMN END -->
        <div class="twelve wide column">
          <div class='field'>
            <input type="text" name="campaign_name" ng-modal="campaign.name" required>
            <div class="ui red pointing above ui label" ng-show="edit_campaign_form.campaign_name" required>
              <div ng-show="edit_camaign_form.campaign_name.$error.required" translate> campaign_management_edit_campaign_name </div>
            </div>
          </div>
        </div>
        <!-- COLUMN END -->
      </div>
      <!-- GRID END -->
      <div class="ui two column grid">
        <div class="four wide column">
          <h4 class="ui blue header" translate> campaign_management_edit_campaign_location </h4>
        </div>
        <!-- COLUMN END -->
        <div class="twelve wide column">
          <div class="filed">

            <select ng-class="{'has-error': !campaign.category_id.length}" multiple ng-model="campaign.category_id" ui-select2="categorypicker">
              <option value="{{category.category_id}}" class="item" ng-repeat="category in categories | orderBy:'display_priority'">{{category.name}}</option>
            </select>
            <!-- DROP DOWN END -->
            <div class="ui red pointing above ui label" ng-show="edit_campaign_form.city" required>
              <div ng-show="edit_camaign_form.city.$error.required" translate> campaign_management_edit_campaign_location_message </div>
            </div>
          </div>
        </div>
        <!-- COLUMN END -->
      </div>
      <!-- GRID END -->
      <div class="ui two column grid">
        <div class="four wide column">
          <h4 class="ui blue header" translate> campaign_management_categories_text </h4>
        </div>
        <!-- COLUMN END -->
        <div class="twelve wide column">
          <div class="field">
            <div class="ui fluid dropdown">
              <div class="text" translate> campaign_management_categories_select</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="ui item checkbox" ng-repeat="category in categories | orderBy:'display_priority'">
                  <input type="checkbox">
                  <label>{{category.name}}</label>
                </div>
              </div>
            </div>
            <!-- DROP DOWN END -->
          </div>
          <!-- FIELD END -->
        </div>
        <!-- COLUMN END -->
      </div>
      <!-- GRID END -->
      <div class="ui three column grid">
        <div class="four wide column">
          <h4 class="ui blue header" translate> campaign_management_fundinggoal</h4>
        </div>
        <!-- COLUMN END -->
        <div class="six wide column">
          <div class="field">
            <input type="text" name="funding_goal" ng-modal="campaign.funding_goal" required>
            <div class="ui red pointing above ui label" ng-show="edit_campaign_form.funding_goal" required>
              <div ng-show="edit_camaign_form.funding_goal.$error.required" translate> campaign_management_fundinggoal_message</div>
            </div>
          </div>
          <!-- FIELD END -->
        </div>
        <!-- COLUMN END -->
        <div class="six wide column">
          <div class="field">

          </div>
        </div>
        <!-- COLUMN END -->
      </div>
      <!-- GRID END -->
      <div class="ui two column grid">
        <div class="four wide column">
        </div>
        <!-- COLUMN END -->
        <div class="twelve wide column">
          <div class="field">
          </div>
          <!-- FIELD END -->
        </div>
        <!-- COLUMN END -->
      </div>
      <!-- GRID END -->
    </form>
  </div>
</div>
<!-- MODAL END -->

<!-- =====================================Error MODALS ====================================-->
<div class="ui small modal not-select-modal">
  <div class="header">
    <h3 class="ui red header" translate>campaign_management_error_modal </h3>
  </div>
  <div class="content">
    <p translate> campaign_management_error_modal_message </p>
  </div>
  <div class="actions">
    <div class="ui blue button" translate>
      campaign_management_error_modal_message_ok
    </div>
  </div>
</div>
<!-- MODAL END -->
<div class="ui small modal response-error-modal">
  <div class="header">
    <h3 class="ui red header" translate> campaign_management_error_modal </h3>
  </div>
  <div class="content">
    <p>{{formData.error}}}</p>
  </div>
  <div class="actions">
    <div class="ui blue button" translate>
      campaign_management_error_modal_message_Ok
    </div>
  </div>
</div>
<!-- MODAL END -->