<div class="mainbody-wrap" ng-cloak>
	<div class="background-wrap">
		<div class="ui page grid">
			<div class="ui column">

				<div class="campaign-creation-header">
					<div class="campaignsteps" ng-include src="'views/templates/partials/campaign/create/campaign-steps.html'"></div>
					<div class="ui center aligned basic campaign-top-header segment">
						<h1 class="ui center aligned header" translate>campaign_widget_widget_settings_title</h1>
						<p translate>campaign_widget_widget_settings_notes</p>
						<div class="header-footer">
							<div class="header-prev-action" ng-if="displayPrevButtonHeader" ng-include src="'views/templates/partials/campaign/create/campaign-previous.html'"></div>
						</div>
					</div>
				</div>

				<div class="ui left aligned basic segment" ng-if="notes.managers">
					<div class="ui floating yellow message">
						<div class="ui small header" translate>campaign_widget_reviewnote
						</div>
						{{notes.managers}}
					</div>
				</div>

				<form class="campaign-creation-form" name="profile_edit">
					<h2 class="ui inverted top attached header" translate="campaign_widget_widget_settings_title"></h2>
					<div class="campaign-bg ui middle attached basic segment">
						<div class="ui two column stackable grid formbg optional-field">
							<div class="five wide column">
								<h3 class="ui header">
									<span translate>campaign_widget_theme_color</span>
									<span class="optional-text" translate="campaign_creation_optional_text"></span>
								</h3>
							</div>
							<div class="eleven wide column">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.themecolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<!--<div class="five wide column">
								<h3 class="ui header"><span translate>campaign_widget_font_color</span> <span class="optional-text" translate="campaign_creation_optional_text"></span></h3>
							</div>
							<div class="eleven wide column">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.fontcolor" onkeydown="if (event.keyCode == 13) return false;" input-color>
									</div>
								</div>
							</div>-->
							<div class="five wide column">
								<h3 class="ui header">
									<span translate>campaign_widget_font_section_colors</span>
									<span class="optional-text" translate="campaign_creation_optional_text"></span>
								</h3>
							</div>
							<div class="eleven wide column">
								<div class="ui fluid selection dropdown menu-selector">
									<input type="hidden" name="menu-select">
									<div class="default text" translate>campaign_widget_font_section_colors</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" translate ng-click="pickFontSection('top')">campaign_widget_top_campaign_and_author</div>
										<div class="item" translate ng-click="pickFontSection('funding_info')">campaign_widget_funding_info</div>
										<div class="item" translate ng-click="pickFontSection('blurb_section')">campaign_widget_blurb_section</div>
										<div class="item" translate ng-click="pickFontSection('creator_section')">campaign_widget_creator_section</div>
										<div class="item" translate ng-click="pickFontSection('rewards_section')">campaign_widget_rewards_section</div>
										<div class="item" translate ng-click="pickFontSection('payment_section')">campaign_widget_payment_section</div>
										<div class="item" translate ng-click="pickFontSection('user_profile')">campaign_widget_user_profile</div>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="fontSection != 'top'">
							</div>
							<div class="eleven wide column" ng-hide="fontSection != 'top'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.topfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="fontSection != 'funding_info'">
							</div>
							<div class="eleven wide column" ng-hide="fontSection != 'funding_info'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.fundingfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="fontSection != 'blurb_section'">
							</div>
							<div class="eleven wide column" ng-hide="fontSection != 'blurb_section'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.blurbfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="fontSection != 'creator_section'">
							</div>
							<div class="eleven wide column" ng-hide="fontSection != 'creator_section'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.creatorfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="fontSection != 'rewards_section'">
							</div>
							<div class="eleven wide column" ng-hide="fontSection != 'rewards_section'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.rewardsfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="fontSection != 'payment_section'">
							</div>
							<div class="eleven wide column" ng-hide="fontSection != 'payment_section'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.paymentfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="fontSection != 'user_profile'">
							</div>
							<div class="eleven wide column" ng-hide="fontSection != 'user_profile'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.profilefontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column">
								<h3 class="ui header">
									<span translate>campaign_widget_tab_colors</span>
									<span class="optional-text" translate="campaign_creation_optional_text"></span>
								</h3>
							</div>
							<div class="eleven wide column">
								<div class="ui fluid selection dropdown menu-selector">
									<input type="hidden" name="menu-select">
									<div class="default text" translate>campaign_widget_tab_colors</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" translate ng-click="pickTabColors('selected_tab')">campaign_widget_selected_tab</div>
										<div class="item" translate ng-click="pickTabColors('unselected_tab')">campaign_widget_unselected_tab</div>
										<div class="item" translate ng-click="pickTabColors('tab_background')">campaign_widget_selected_tab_background</div>
										<div class="item" translate ng-click="pickTabColors('inside_campaign')">campaign_widget_inside_campaign</div>
										<div class="item" translate ng-click="pickTabColors('inside_faq')">campaign_widget_inside_faq</div>
										<div class="item" translate ng-click="pickTabColors('inside_backer')">campaign_widget_inside_backer</div>
										<div class="item" translate ng-click="pickTabColors('inside_streams')">campaign_widget_inside_streams</div>
										<div class="item" translate ng-click="pickTabColors('inside_comments')">campaign_widget_inside_comments</div>
										<div class="item" translate ng-click="pickTabColors('inside_contact')">campaign_widget_inside_contact</div>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'selected_tab'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'selected_tab'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.tabselectedfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'unselected_tab'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'unselected_tab'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.tabunselectedfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'tab_background'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'tab_background'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.tabbackgroundcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'inside_campaign'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'inside_campaign'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.campaignfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'inside_faq'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'inside_faq'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.faqfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'inside_backer'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'inside_backer'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.backersfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'inside_streams'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'inside_streams'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.streamsfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'inside_comments'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'inside_comments'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.commentsfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-hide="tabColors != 'inside_contact'">
							</div>
							<div class="eleven wide column" ng-hide="tabColors != 'inside_contact'">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" class="color" ng-model="campaignSettings.widget_settings.contactfontcolor" onkeydown="if (event.keyCode == 13) return false;"
										 input-color>
									</div>
								</div>
							</div>

							<div class="five wide column" ng-if="false">
								<h3 class="ui header">
									<span translate>campaign_widget_font_family</span>
									<span class="optional-text" translate="campaign_creation_optional_text"></span>
								</h3>
							</div>
							<div class="eleven wide column" ng-if="false">
								<div class="ui fluid form">
									<div class="field">
										<input type="text" ng-model="campaignSettings.widget_settings.fontfamily" onkeydown="if (event.keyCode == 13) return false;">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div ng-include src="'views/templates/partials/response-message.html'"></div>
					<div class="bottom-btn-wrap right aligned column" ng-include src="'views/templates/partials/campaign/create/campaign-save.html'"></div>
				</form>
			</div>
			<!-- column end -->
		</div>
		<!-- ui page grid end -->
	</div>
	<!-- background-wrap end -->
</div>