<div class="mainbody-wrap" ng-cloak>
  <div class="background-wrap">
    <div class="ui page grid">
      <div class="column">

        <div class="campaign-creation-header">
          <div class="campaignsteps" ng-include src="'views/templates/partials/campaign/create/campaign-steps.html'"></div>

          <div class="ui blue message" ng-show="direct_transaction && !showCampaignbankForm">
            <div class="header" translate>
              complete_funding_stripe_direct_transaction_enabled
            </div>
          </div>
          <div class="ui center aligned basic campaign-top-header segment" ng-show="!showCampaignbankForm">
            <h1 class="ui header" translate>complete_funding_main_message</h1>
            <p translate> complete_funding_main_text </p>
            <p translate>complete_funding_main_text2</p>
            <div class="header-footer">
              <div class="header-prev-action" ng-if="displayPrevButtonHeader" ng-include src="'views/templates/partials/campaign/create/campaign-previous.html'"></div>
            </div>
          </div>

          <div class="ui center aligned basic campaign-top-header segment" ng-show="showCampaignbankForm">
            <h1 class="ui header" translate>complete_funding_main_message</h1>
            <p translate>complete_funding_bank_main_text</p>
            <p translate>complete_funding_main_text2</p>
            <div class="header-footer">
              <div class="header-prev-action" ng-if="displayPrevButtonHeader" ng-include src="'views/templates/partials/campaign/create/campaign-previous.html'"></div>
            </div>
          </div>
        </div>

        <form class="campaign-creation-form startfunding-form ui form" name="startfunding-form">

          <h2 class="ui inverted top attached header" translate> complete_funding_fundingdetails </h2>
          <div class="campaign-bg ui middle attached basic segment">
            <div class="formbg ui two column stackable grid required-field campaign-funding-connect-form-field" ng-if="!isFieldDisplayStacked && !showCampaignbankForm">
              <div class="ui corner red label" data-content="Required Field" sui-popup>
                <i class="white asterisk icon"></i>
              </div>
              <div class="five wide column">
                <h3 class="ui header">
                  <span translate>complete_funding_stripe_connection</span>
                  <span class="required-text" translate="campaign_creation_required_text"></span>
                </h3>
                <p translate>
                  complete_funding_stripe_connect_notes
                </p>
              </div>
              <!-- column end -->

              <div class="eleven wide column">
                <div ng-show="stripeConnected" class="field">
                  <h4 class="ui black header" translate>complete_funding_stripe_message</h4>
                  <div class="ui selection fluid dropdown" id="stripeDropdownSelector" ng-model="campaign.stripe_account_id">
                    <input type="hidden" name="stripe_account">
                    <div class="default text">{{'complete_funding_stripe_default'|translate}} </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" data-value="{{account.stripe_account_id}}" ng-repeat="account in stripeAccounts" ng-click="selectStripeId(account.id)">
                        <a class = "ui label" ng-show="account.name">{{account.name}}</a>
                        <a class = "ui label" ng-show="!account.name" translate>complete_funding_untitled_stripe_account</a>
                        <a class="ui green label" ng-show="account.access_token.indexOf('live') > -1">Live Account</a>
                        <a class="ui yellow label" ng-show="account.access_token.indexOf('test') > -1 && account.publishable_key">Test Account</a> {{account.email}}
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="stripe-connect-header ui black header" translate ng-show="stripeConnected && enableStripeConnect">complete_funding_stripe_message1</h4>

                <h4 class="stripe-connect-header ui header" ng-hide="stripeConnected || enableStripeConnect" translate>complete_funding_stripe_message2</h4>
                <a ng-click="setRedirectUrl()" ng-if="enableStripeConnect" class="stripe-connect" id="stripeconnect">
                  <span translate> complete_funding_stripe_button</span>
                </a>

                <div ng-if="!enableStripeConnect">
                  <a ng-click="enableStripeConfirmation()" ng-if="allowStripeReenable" class="ui labeled red button">
                    <span translate> complete_funding_stripe_connect_reenable_button</span>
                  </a>
                </div>


              </div>
              <!-- column end -->
            </div>
            <div class="formbg ui grid required-field campaign-funding-connect-form-field" ng-if="isFieldDisplayStacked && !showCampaignbankForm">
              <div class="column">
                <h3 class="ui header">
                  <span translate>complete_funding_stripe_connection</span>
                  <span class="required-text" translate="campaign_creation_required_text"></span>
                </h3>
                <p translate>
                  complete_funding_stripe_connect_notes
                </p>
                <div ng-show="stripeConnected" class="field">
                  <h4 class="ui black header" translate>complete_funding_stripe_message</h4>
                  <div class="ui selection fluid dropdown" id="stripeDropdownSelector" ng-model="campaign.stripe_account_id">
                    <input type="hidden" name="stripe_account">
                    <div class="default text">{{'complete_funding_stripe_default'|translate}} </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" data-value="{{account.stripe_account_id}}" ng-repeat="account in stripeAccounts" ng-click="selectStripeId(account.id)">
                        <a class="ui green label" ng-show="account.access_token.indexOf('live') > -1">Live Account</a>
                        <a class="ui yellow label" ng-show="account.access_token.indexOf('test') > -1">Test Account</a> {{account.email}} ({{account.publishable_key}})
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="stripe-connect-header ui black header" translate ng-show="stripeConnected && enableStripeConnect">complete_funding_stripe_message1</h4>

                <h4 class="stripe-connect-header ui header" ng-hide="stripeConnected || enableStripeConnect" translate>complete_funding_stripe_message2</h4>
                <a ng-click="setRedirectUrl()" ng-if="enableStripeConnect" class="stripe-connect" id="stripeconnect">
                  <span translate> complete_funding_stripe_button</span>
                </a>

                <div ng-if="!enableStripeConnect">
                  <a ng-click="enableStripeConfirmation()" ng-if="allowStripeReenable" class="ui labeled red button">
                    <span translate> complete_funding_stripe_connect_reenable_button</span>
                  </a>
                </div>


              </div>
            </div>
            <div class="formbg ui two column stackable grid required-field" ng-if="showCampaignbankForm">
              <div class="ui corner red label" data-content="Required Field" sui-popup>
                <i class="white asterisk icon"></i>
              </div>
              <div class="five wide column">
                <h3 class="ui header">
                  <span translate>complete_funding_bank_header</span>
                  <span class="required-text" translate="campaign_creation_required_text"></span>
                </h3>
                <p translate>
                  complete_funding_bank_note
                </p>
              </div>
              <!-- column end -->

              <div class="eleven wide column">
                <div class="ui form bank-form">
                  <div class="fields">
                    <div class="row">
                      <div class="six wide field">
                        <label translate>complete_funding_bank_beneficiary</label>
                        <input name="bank_beneficiary" type="text" placeholder="{{'complete_funding_bank_beneficiary_placeholder' | translate}}" ng-model="bank.beneficiary_name">
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class=" six wide field">
                        <label translate>complete_funding_bank_name</label>
                        <input name="bank_name" type="text" placeholder="{{'complete_funding_bank_name_placeholder' | translate}}" ng-model="bank.bank_name">
                      </div>
                    </div>
                    <div class="row">
                      <div class=" six wide field">
                        <label translate>complete_funding_bank_code</label>
                        <input name="bank_code" type="text" placeholder="{{'complete_funding_bank_code_placeholder' | translate}}" ng-model="bank.bank_code">
                      </div>
                    </div>
                    <div class="row">
                      <div class=" six wide field">
                        <label translate>complete_funding_bank_branch</label>
                        <input name="bank_branch" type="text" placeholder="{{'complete_funding_bank_branch_placeholder' | translate}}" ng-model="bank.branch_code">
                      </div>
                    </div>
                    <div class="row">
                      <div class=" six wide field">
                        <label translate>complete_funding_bank_account</label>
                        <input name="bank_account" type="text" placeholder="{{'complete_funding_bank_account_placeholder' | translate}}" ng-model="bank.account_number">
                      </div>
                    </div>
                    <div class="row">
                      <div class=" six wide field">
                        <label translate>complete_funding_bank_account_confirm</label>
                        <input name="bank_account_confirm" type="text" placeholder="{{'complete_funding_bank_account_confirm_placeholder' | translate}}" ng-model="bank.account_number_confirm">
                      </div>
                    </div>
                    <div class="row">
                      <div class="six wide field">
                        <label translate>complete_funding_bank_cpf</label>
                        <input name="bank_cpf" type="text" placeholder="{{'complete_funding_bank_cpf_placeholder'| translate}} " ng-model="bank.cpf">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- column end -->
            </div>
            <!-- formbg end -->
          </div>
          <div ng-include src="'views/templates/partials/response-message.html'"></div>
          <div class="bottom-btn-wrap right aligned column" ng-if="!portalsetting.site_campaign_creation_launch_campaign_on_step5" ng-include src="'views/templates/partials/campaign/create/campaign-save.html'"></div>

          <div class="bottom-btn-wrap right aligned column" ng-if="portalsetting.site_campaign_creation_launch_campaign_on_step5">

            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="right aligned twelve wide column" ng-controller="CampaignPreviewCtrl">
                <div class="ui checkbox" ng-model="agreed" ng-class="{'has-error': !agreed && tos_not_checked}" id="creationCheck">

                  <a ng-click="saveData($event);" ng-show="!approve_campaign" id="campaign-create-next-button" class="nxt-step-btn ui right labeled icon blue button">{{'campaign_preview_button'|translate}}
									<i class="right arrow icon"></i>
								</a>

                  <a ng-click="saveData($event);" ng-show="approve_campaign" id="campaign-create-next-button" class="nxt-step-btn ui right labeled icon blue button">{{'campaign_preview_auto_approve_button'|translate}}
									<i class="right arrow icon"></i>
								</a>

                  <div ng-if="loadingText" class="loadingText">
                    {{'campaign_preview_please_wait' | translate}}

                  </div>
                </div>
              </div>

            </div>

        </form>
        <!-- campaign-creation-form end -->
        </div>
        <!-- column end -->
      </div>
      <!-- ui page grid end -->
    </div>
    <!-- background-wrap end -->

    <!-- Stripe Change Confirmation Modal-->
    <div class="ui small modal enable-stripe-modal">
      <i class="close icon"></i>
      <div class="header">
        <h3 class="ui header" translate>complete_funding_stripe_connect_modal_title</h3>
      </div>
      <div class="content">
        <p translate> complete_funding_stripe_connect_modal_content </p>
      </div>
      <!-- CONTENT END -->
      <div class="actions">
        <div class="ui red button approve" translate>
          complete_funding_stripe_connect_modal_confirm_button
        </div>
      </div>
    </div>

  </div>
  <!-- mainbody-wrap end -->