<div class="reset-password-bg">
	<h1 id="reset-password-header" class="ui center aligned icon header">
		<i class="unlock alternate lock icon circular"></i>
		<span translate>forgot_password_resetmessage</span>
	</h1>
	<div ng-include src="'views/templates/partials/response-message.html'"></div>
	<form class="ui fluid form password-content" ng-if="success">
		<p translate>forgot_password_note</p>
		<div class="field">
			<label translate>forgot_password_newpassword </label>
			<input type="password" name="new_password" ng-model="formData.new_password">

		</div>
		<div class="field">
			<label translate> forgot_password_password_confirm</label>
			<input name="confirm_new_password" type="password" ng-model="formData.confirm_password">
		</div>
		<div class="button-wrap">
			<button class="ui green button" ng-click="validatePassword()" translate>
				forgot_password_reset_buton
			</button>
		</div>
	</form>
</div>
