<div class="ui basic top-header segment" ng-cloak>
	<h2 class="ui header"  translate> payment_setting_header  </h2>
</div>
<div class="mainbody-wrap admin-dashboard">
	<div class="background-wrap">
		<div class="ui page grid">
			<div class="column">
				<div ng-include src="'views/templates/partials/response-message.html'"></div>
			</div>
		</div>
		
		<div id="payment-tabs">
			<div class="ui page grid">
				<div class="column">
					<div class="ui pointing secondary menu menu-tabs">
						<a class="item active" data-tab="stripe" ng-click="clickHash('stripe')" ng-show="showStripe" translate >payment_setting_stripe</a>
						<a class="item" data-tab="card" ng-click="clickHash('card')"  translate >payment_setting_credit_card</a>
					</div>
				</div>
			</div>
			<div class="ui tab basic active" data-tab="stripe" ng-show="showStripe">
				<ng-include src="'views/templates/partials/payment-setting/tab-stripe-connection.html'" ng-controller="TabStripeCtrl"></ng-include>
			</div>
			<div class="ui tab basic" data-tab="card" id="ccard">
				<ng-include src="'views/templates/partials/payment-setting/tab-manage-cards.html'" ng-controller="TabCardCtrl"></ng-include>
			</div>
		</div>
	</div>
</div>