<div class="ui basic top-header segment" ng-cloak>
  <h2 class="ui header" translate> pledge_history_main_header </h2>
</div>
<div class="mainbody-wrap admin-dashboard">
  <div class="portal-setting-tabs">
    <!-- Active Pledges -->
    <div class="contribution-management">
      <ng-include src="'views/templates/partials/pledge-history/tab-pledges.html'"></ng-include>
    </div>
    <!-- CAMPAIGN END -->
  </div>
</div>

<!-- pledge details modal -->
<div class="ui large modal" id="pledge-details">
  <i class="close icon"></i>
  <div class="content">
    <div class="ui two column stackable grid campaign-reward">

      <div class="five wide column left-column">

        <div class="campaign-img">
          <img ng-repeat="file in pledgeDetails.files | filter:{region_id: RESOURCE_REGIONS.campaign.thumbnail} | orderBy:'-file_id' | limitTo: 1" ng-if="pledgeDetails.files[0].path_external" ng-src="{{server + '/image/campaign_thumbnail_medium/' + file.path_external}}"
            class="ui image" />
          <img ng-if="!pledgeDetails.files && pledgeDetails.files[0].region_name == 'Campaign Thumbnail'" src="/images/placeholder-images/placeholder_campaign_thumb.png" class="ui image" />
        </div>

        <div class="pledged">
          <div class="amount-pledged"><span ng-bind-html="pledgeDetails.pledge_details[detailIndex].amount | formatCurrency:pledgeDetails.currencies[0].code_iso4217_alpha:portalsetting.public_setting.site_campaign_decimal_option"></span></div>
          <div class="ui green large label collected-label" ng-if="pledgeDetails.entry_status_id == 9" translate>pledge_history_captured</div>
        </div>

        <div class="date-pledged">
          <div class="label" translate> pledge_history_date_pledge </div>
          <div class="name date" ng-if="!portalsetting.public_setting.site_theme_campaign_display_iso_date">{{pledgeDetails.pledge_details[detailIndex].created | formatDate:"MMMM DD YYYY hh:mm A"}}</div>
          <div class="name date" ng-if="portalsetting.public_setting.site_theme_campaign_display_iso_date">{{pledgeDetails.pledge_details[detailIndex].created | formatDate:"YYYY/MM/DD hh:mm A"}}</div>
        </div>

        <!-- ng-if="pledgeDetails.pledge_details[detailIndex].pledge_levels[0].estimated_delivery_time" -->
        <div class="est-delivery-time" ng-if="pledgeDetails.pledge_details[detailIndex].pledge_levels[0].estimated_delivery_time">
          <div class="label" translate> pledge_history_estimate_delivery </div>
          <div class="name eot"><span ng-if="!portalsetting.public_setting.site_theme_campaign_display_iso_date">{{pledgeDetails.pledge_details[detailIndex].pledge_levels[0].estimated_delivery_time | formatDate:"MMMM DD YYYY hh:mm A"}}</span>
            <span ng-if="portalsetting.public_setting.site_theme_campaign_display_iso_date">{{pledgeDetails.pledge_details[detailIndex].pledge_levels[0].estimated_delivery_time | formatDate:"YYYY/MM/DD hh:mm A"}}</span></div>
        </div>

      </div>

      <div class="eleven wide column right-column">

        <div class="campaign-name"><span ng-bind="pledgeDetails.name"></span></div>

        <div class="campaign-creator">
          <div class="creator"><span translate="pledge_history_by"></span> <span ng-bind="pledgeDetails.managers[0].first_name"></span></div>
        </div>


        <div class="reward-description">
          <h3 class="name" ng-bind="pledgeDetails.pledge_details[detailIndex].pledge_levels[0].name"></h3>
          <div class="description fr-view" html-render html="pledgeDetails.pledge_details[detailIndex].pledge_levels[0].description"></div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>

  <div class="actions">
    <div class="ui blue button" ng-hide="!portalsetting.public_setting.site_campaign_pledge_update || pledgeDetails.ends == null || pledgeDetails.ends.substring(0,10) <= today" translate ng-click="replaceContribution()">pledge_history_replace_button</div>
    <div class="ui red button" ng-click="openModalById('confirm-withdraw')" ng-if="portalsetting.public_setting.site_campaign_raise_modes.pledge_processing.default[pledgeDetails.raise_mode_id]==1 && ((!hideWithdraw || !campaignWithdrawContribution) || pledgeDetails.settings.admin_enable_withdraw_button)" translate>
      pledge_history_withdraw_contribution
    </div>
    <div class="ui button" translate>
      pledge_history_withdraw_contribution_close
    </div>
  </div>

</div>

<div class="ui small modal" id="replace-contribution-modal">
  <div class="choose-replacement-content content" ng-show="hideInitialModal">
    <h3 class="ui header" translate="pledge_history_choose_text"></h3>
    <button class="ui green huge button" ng-click="amountModalView()" translate>tab_pledge_replace_amount</button>
    <div class="ui horizontal divider" ng-show="isThereRewards" translate>
      tab_pledge_replace_or
    </div>
    <button class=" ui green huge button" ng-click="rewardsModalView()" ng-show="isThereRewards" translate>tab_pledge_replace_rewards</button>
  </div>

  <div class="ui pointing secondary menu" ng-show="!hideInitialModal">
    <div class="item" ng-click="amountModalView()" ng-class="{'active' : isAmountContribution}" translate>tab_pledge_replace_amount_tab</div>
    <div class="item" ng-click="rewardsModalView()" ng-class="{'active' : isRewardsContribution}" translate>tab_pledge_replace_rewards_tab</div>
  </div>
  <div class='content' ng-if="(isAmountContribution || isRewardsContribution) && (rewardQueue.length || submitReplacement.amount)">
    <div class="ui right aligned grid">
      <div class="left floated right aligned three wide column">
        <h3 translate="tab_pledge_replace_summary_header"></h3>
      </div>
      <div class="right floated left aligned nine wide column">
        <div style="text-align: right">
          <span translate="tab_pledge_replace_contribution_value"></span>: <span class="data-text" style="font-weight: bold" ng-bind-html="currentCampaign.amount | formatCurrency:currentCampaign.currency.code_iso4217_alpha:portalsetting.public_setting.site_campaign_decimal_option"></span>
        </div>
      </div>
    </div>
    <table class="ui table">
      <thead>
        <tr>
          <th translate="tab_pledge_replace_summary_table_col_1"></th>
          <th translate="tab_pledge_replace_summary_table_col_2"></th>
          <th translate="tab_pledge_replace_summary_table_col_3"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="submitReplacement.amount">
          <td translate="tab_pledge_replace_summary_direct_contribution"></td>
          <td></td>
          <td>
            <span class="data-text" ng-bind-html="submitReplacement.amount | formatCurrency:currentCampaign.currency.code_iso4217_alpha:portalsetting.public_setting.site_campaign_decimal_option"></span>
          </td>
        </tr>
        <tr ng-repeat="reward in rewardQueue">
          <td>{{reward.name}}</td>
          <td>{{reward.quantity}}</td>
          <td>
            <span class="data-text" ng-bind-html="reward.amount | formatCurrency:currentCampaign.currency.code_iso4217_alpha:portalsetting.public_setting.site_campaign_decimal_option"></span>
          </td>
          <td class="ui red button" ng-click="removeReward(reward)">X
            <!-- <div class="ui red button" ng-click="removeReward(reward)" translate>X</div> -->
          </td>
        </tr>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <td>Total</td>
          <td></td>
          <td>
            <span class="data-text" ng-bind-html="totalReplaced | formatCurrency:currentCampaign.currency.code_iso4217_alpha:portalsetting.public_setting.site_campaign_decimal_option"></span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="amount-contribution-content content ui bottom attached tab" ng-class="{'active' : isAmountContribution}" ng-if="isAmountContribution">
    <h3 class="ui header" translate>tab_pledge_replace_amount_contributed</h3>
    <div class="ui big left labeled right labeled input contribution-input">
      <div class="ui label" ng-bind-html=" ' ' | formatCurrency:currentCampaign.currency.code_iso4217_alpha:portalsetting.public_setting.site_campaign_decimal_option"></div>
      <input id="amountContributed" name="contribution_amount" type="text" ng-model="submitReplacement.amount">
      <div class="ui label"><span>.00</span></div>
    </div>
    <p class="error" ng-show="!amountValidation(submitReplacement.amount)" translate>tab_pledge_replace_error</p>
  </div>
  <div class="rewards-contribution-content content ui bottom attached tab" ng-class="{'active' : isRewardsContribution}" ng-if="isRewardsContribution">
    <h3 class="ui header" translate>tab_pledge_replace_rewards_title</h3>
    <div class="ui fluid form">
      <div class="ui fluid selection dropdown" ng-model="currentReward">
        <div class="text" id="duration_dtext">{{currentReward.name}}</div><i class="dropdown icon"></i>
        <input type="hidden" name="variation_value" value="{{currentReward}}">
        <div class="menu">
          <div ng-repeat="rewards in currentCampaign.pledge track by $index" data-value="{{$index}}" ng-click="rewardSelected($index)" class="item">{{rewards.name | translate}}</div>
        </div>
      </div>
    </div>
    <div ng-show="currentReward.amount" class="reward-contribution-info ui segment">
      <h2 class="reward-amount">
        <span class="amount">{{currentReward.amount | formatCurrency:currentCampaign.currency.code_iso4217_alpha:portalsetting.public_setting.site_campaign_decimal_option}}</span>
        <span ng-bind="currentCampaign.currency.code_iso4217_alpha"></span>
      </h2>
      <div class="reward-desc"></div>
      <div class="bottom">
        <div class="reward-limit-count" ng-if="currentReward.item_limit != null">{{'campaign_pledge_campaign_reward_limited' | translate}} {{currentReward.item_limit - currentReward.total_pledges}} {{'campaign_pledge_campaign_reward_limited_leftoff' | translate}} {{currentReward.item_limit}}</div>
        <div class="reward-est-shipping" ng-if="currentReward.estimated_delivery_time != null"><em>{{'campaign_pledge_campaign_reward_estimated_shiping' | translate}} {{currentReward.estimated_delivery_time | formatDate:"MMMM YYYY"}}</em></div>

        <button class="ui green button" id="replacementButton" ng-click="chooseReward(currentReward)" translate>tab_pledge_replace_add_reward</button>

      </div>
    </div>
    <p class="error" ng-show="!rewardValidation()" translate>tab_pledge_replace_error</p>
  </div>
  <div class="actions" ng-if="isAmountContribution || isRewardsContribution">
    <button class="ui green button" id="replacementButton" ng-click="submitReplacement()" ng-class="{'disabled' : !replaceValidated}" translate>tab_pledge_replace_submit</button>
    <div class="ui button" ng-click="replacementClose()" translate>
      pledge_history_withdraw_contribution_close
    </div>
  </div>
</div>

<div ng-include src=" 'views/templates/partials/response-message.html' "></div>

<!-- confirm withdraw modal -->
<div class="ui modal " id="confirm-withdraw">
  <div class="header ">
    <h3 class="ui red header " translate>pledge_history_confirm_withdraw </h3>
  </div>
  <div class="content " translate>
    <p> pledge_history_confirm_withdraw_message </p>
  </div>
  <div class="actions ">
    <div class="ui button " translate>
      pledge_history_confirm_withdraw_cancel
    </div>
    <div class="ui red button " ng-click="deletePledge() " translate>
      pledge_history_confirm_withdraw_yes
    </div>
  </div>
</div>
<!-- MODAL END -->

<div class="ui small modal not-select-modal ">
  <div class="header ">
    <h3 class="ui red header " translate> pledge_history_error </h3>
  </div>
  <div class="content ">
    <p translate> pledge_history_selectOne</p>
  </div>
  <div class="actions ">
    <div class="ui blue button " translate>
      pledge_history_ok
    </div>
  </div>
</div>
<!-- MODAL END -->
<div class="ui small modal response-error-modal ">
  <div class="header ">
    <h3 class="ui red header " translate> pledge_history_error </h3>
  </div>
  <div class="content ">
    <p>{{formData.error}}}</p>
  </div>
  <div class="actions ">
    <div class="ui blue button " translate>
      pledge_history_ok
    </div>
  </div>
</div>
<!-- MODAL END -->
