<div id="admindashboard" ng-cloak>
	<div class="ui basic top-header segment">
		<h2 class="ui header" translate> portal_setting_main_header </h2>
	</div>

	<div class="mainbody-wrap admin-dashboard" ng-hide="pageShown" >
		<div id="admin-setting-tabs" class="portal-setting-tabs background-wrap">
			<div class="ui page grid">
				<div class="column">
					<div class="ui pointing secondary menu menu-tabs">
						<a class="item active" data-tab="reports" ng-click="clickHash('reports')" translate="portal_setting_reports">
						<a ng-show="User.person_type_id == 1" class="item" data-tab="users" ng-click="clickHash('users')" translate="portal_setting_user"></a>
						<a ng-show="User.person_type_id == 1" class="item" data-tab="categories" ng-click="clickHash('categories')" translate="portal_setting_categories"></a>
						<a ng-show="User.person_type_id == 1" class="item" data-tab="site-menus" ng-click="clickHash('site-menus')" translate="portal_setting_menus"></a>
						<a ng-show="(User.person_type_id == 1 || User.person_type_id == 3)" class="item" data-tab="campaigns" ng-click="clickHash('campaigns')" translate="portal_setting_campaign"></a>
						<a ng-show="User.person_type_id == 1" class="item" data-tab="coupons" ng-click="clickHash('coupons')" translate="portal_setting_coupon"></a>
						<a ng-show="(User.person_type_id == 1 || User.person_type_id == 4)" class="item" data-tab="pages" ng-click="clickHash('pages')" translate="portal_setting_pages"></a>
						<a ng-show="User.person_type_id == 1" class="item" data-tab="portal-settings" ng-click="clickHash('portal-settings')" translate="portal_setting_portal_setting"></a>
						<a ng-show="User.person_type_id == 1" class="item" data-tab="web-settings" ng-click="clickHash('web-settings')" translate="portal_setting_webhook_setting"></a>
						<a ng-show="User.person_type_id == 1" class="item" data-tab="subscription-settings" ng-click="clickHash('subscription-settings')" translate="portal_setting_subscription_settings_tab_label"></a>

					</div>
				</div>
			</div>
			<div class="ui page grid">
				<div class="column">
					<div ng-include src="'views/templates/partials/response-message.html'"></div>
				</div>
			</div>
			<div class="ui tab active" data-tab="reports">
				<div ng-if="showreports">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-reports.html'" ng-controller="AdminReportsCtrl" id="report"></div>
				</div>
			</div>
			<div class="ui tab" data-tab="users">
				<div ng-if="showusers">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-users.html'" ng-controller="AdminUsersCtrl"  id="users"></div>
				</div>
			</div>
			<div class="ui tab" data-tab="categories">
				<div ng-if="showcategories">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-categories.html'" ng-controller="AdminCategoriesCtrl"></div>
				</div>
			</div>
			<div class="ui tab" data-tab="site-menus">
				<div ng-if="showSiteMenus">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-site-menus.html'" ng-controller="AdminSiteMenusCtrl"></div>
				</div>
			</div>
			<div class="ui tab" data-tab="campaigns">
				<div ng-if="showcampaigns">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-campaigns.html'" ng-controller="AdminCampaignsCtrl"></div>
				</div>
			</div>
			<div class="ui tab" data-tab="coupons">
				<div ng-if="showcoupons">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-coupons.html'" ng-controller="AdminCouponsCtrl"></div>
				</div>
			</div>
			<div class="ui tab" data-tab="pages">
				<div ng-if="showpages">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-pages.html'" ng-controller="AdminPagesCtrl"></div>
				</div>
			</div>
			<div class="ui tab site-setting-content" data-tab="portal-settings">
				<div ng-if="showportals">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-portal-settings.html'"></div>
				</div>
			</div>
			<div class="ui tab site-setting-content" data-tab="web-settings">
				<div ng-if="showapi">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-api-settings.html'"></div>
				</div>
			</div>
			<div class="ui tab site-setting-content" data-tab="subscription-settings">
				<div ng-if="showSubscriptionSettings">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/admin-dashboard/tab-subscription-settings.html'"></div>
				</div>
			</div>

			<div class="ui page grid" ng-show = "showDimmer">
				<div class="column">
					<div class = "ui basic segment partialLoading">
						<div class = "ui inverted dimmer">
							<div class="ui large text loader" translate="admin_loading"></div>
						</div>
					</div>
				</div>	
			</div>

		</div><!-- portal-setting-tabs -->
	</div><!-- mainbody-wrap -->
</div>
<!-- modals -->
<!-- error modals -->
<div class="ui small modal not-select-modal">
	<div class="header">
		<h1 class="ui red header" translate>  portal_setting_error </h1>
	</div>
	<div class="content">
		<h2 translate>  portal_setting_select_one </h2>
	</div>
	<div class="actions">
		<div class="ui positive button" translate>
			portal_setting_ok
		</div>
	</div>
</div><!-- modal end -->
<div class="ui small modal response-error-modal">
	<div class="header">
		<h3 class="ui red header" translate>  portal_setting_error </h3>
	</div>
	<div class="content">
		<p>{{formData.error}}</p>
	</div>
	<div class="actions">
		<div class="ui positive button" translate>
			portal_setting_ok 
		</div>
	</div>
</div><!-- modal end -->
<div class="ui small modal error-modal">
	<div class="header">
		<h1 class="ui red header" translate>  portal_setting_error</h1>
	</div>
	<div class="content" >
		<h2>{{error_content}}</h2>
	</div>
	<div class="actions">
		<div class="ui positive button" translate>
			portal_setting_ok
		</div>
	</div>
</div><!-- modal end -->
<div class="ui modal new-platform-modal">
	<i class="close icon"></i>
	<div class="header">
		<h3 class="ui header" translate>
			site_new_platform_modal_header
		</h3>
	</div>
	<div class="content">
		<p translate>
			site_new_platform_modal_please_click
		</p>
		<p>
		<span translate>site_new_platform_modal_accept_all</span>
		<a href="https://www.thrinacia.com/blog/post/thrinacia-atlas-standalone-web-ui-quick-setup" target="_blank" translate>
		site_new_platform_modal_click_here
		</a></p>
		<p>
		<span translate>site_new_platform_modal_run_platform</span>
		<a href="https://www.thrinacia.com/blog/post/how-to-setup-and-configure-your-stripe-account" target="_blank" translate>
		site_new_platform_modal_click_here
		</a></p>
		</p>
	</div>
	<div class="actions">
		<div class="ui positive button" translate>
			site_new_platform_modal_goto_payment_settings
		</div>
	</div>
</div>