<div ng-cloak>
	<div class="ui basic top-header segment">
		<h2 class="ui header" translate>  profile_setting_main_header  </h2>
	</div>
	<div class="mainbody-wrap">
		<div class="background-wrap">
			<div id="profile-setting-tabs">
				<div class="ui page grid">
					<div class="ui column">
						<div ng-include src="'views/templates/partials/response-message.html'"></div>

						<div class="ui pointing secondary menu menu-tabs">
							<a class="item active" data-tab="profile-details" ng-click="clickHash('profile-details')" translate> 	profile_setting_profile_detail </a>
							<a class="item" ng-show="!public_settings.site_campaign_enable_organization_name" data-tab="companies" ng-click="clickHash('companies')" translate> profile_setting_company </a>
							<a class="item" data-tab="addresses" ng-click="clickHash('addresses')" translate> profile_setting_address</a>
							<a class="item" data-tab="phone" ng-click="clickHash('phone')" translate> profile_setting_phone</a>
							<a class="item" data-tab="security" ng-click="clickHash('security')" translate> profile_setting_security</a>
							<a class="item" data-tab="account-settings" ng-click="clickHash('account-settings')" ng-hide="isAccSetEnabled" translate>  profile_setting_account_setting</a>
						</div>
					</div>

				</div>

				<div class="ui tab active" data-tab="profile-details">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-personal-setting.html'" ng-controller="TabPersonCtrl"></div>
				</div>
				<div class="ui tab" data-tab="companies">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-company-setting.html'" ng-controller="TabCompanyCtrl"></div>
				</div>
				<div class="ui tab" data-tab="addresses">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-address-setting.html'" ng-controller="TabAddressCtrl"></div>
				</div>
				<div class="ui tab" data-tab="phone">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-phone-setting.html'" ng-controller="TabPhoneCtrl"></div>
				</div>
				<div class="ui tab" data-tab="security">
					<div class="menu-tab-content" ng-include src="'views/templates/partials/profile-setting/tab-security-setting.html'" ng-controller="SecurityTabCtrl"></div>
				</div>
				<div class="ui tab" data-tab="account-settings" ng-controller="AccountTabCtrl">
					<div class="menu-tab-content" ng-include src="'views/templates/account.html'" ng-hide="isAccSetEnabled"></div>
				</div>
			</div>
		</div><!-- background-wrap end -->
	</div>

	<!-- error -> no item is selected -->
	<div class="ui small modal" id="not-select-modal">
		<div class="header">
			<h3 class="ui red header" translate>  profile_setting_error  </h3>
		</div>
		<div class="content">
			<p translate>  profile_setting_no_item </p>
		</div>
		<div class="actions">
			<div class="ui blue button" translate>
				profile_setting_ok 
			</div>
		</div>
	</div><!-- MODAL END -->

	<!-- end of delete campaign modal -->

</div>
