<!-- ================= NAV -->
<!-- <div class="ui basic top-header segment">
	<h2 class="ui header"> Repledge </h2>
</div> -->
<div class="mainbody-wrap" ng-cloak>
	<div class="ui page grid" id="retry-main-page-grid">
		<div class="column">
			<div class="pledge-retry-wrap">
				<div class="ui two column stackable grid ">

					<div class="column left-col">
						<div class="ui two column stackable grid campaign-info-header">
							<div class="five wide column img-col">
								<img ng-if="campaign.files.length" ng-repeat="file in campaign.files| orderBy:'-file_id' | limitTo: 1" ng-src="{{server + '/image/campaign_explore/' + file.path_external}}" class="ui image"/>
							</div>
							<div class="eleven wide column text-col">
								<h2 class="campaign-title">
									{{campaign.name}}</h2>
								<div class="campaign-creator">
									{{'retry_card_by' | translate}}
									{{campaign.managers[0].first_name}}</div>
							</div>
						</div>

					</div>
					<!-- COLUMN END -->

					<div class="column right-col" ng-if="failedContrib">
						<div class="ui icon red message retry-desc">
							<i class="small info icon"></i>
							<div class="content">
								<!-- <div class="header">  {{'retry_card_updated_card' | translate}}   </div> -->
								<p>
									{{'retry_card_updated_card_message' | translate}}
									<span>(**** **** ****
										{{failedContrib.last4}}).</span>
								  <span ng-if="requiresAuthentication">
										{{'retry_card_updated_card_message2' | translate}}
									</span>
								  <span ng-if="!requiresAuthentication">
										{{'retry_card_updated_card_message1' | translate}}
									</span>
								</p>
							</div>
						</div>

					</div>
					<!-- COLUMN END -->
				</div>
				<!-- UI GRID END -->
				<div class="ui grid" id="retry-content">
					<div class="column">
						<div class="ui grid centered">
							<div class="ui ten wide column">
								<div class="ui segment reward-information">
									<div class="ui two column stackable grid reward-header">
										<div class="eleven wide column left-col">
											<h3 class="reward-title">{{failedContrib.pledge_level_name}}</h3>
										</div>

										<div class="right aligned five wide column right-col">
											<div class="reward-value" ng-bind-html="failedContrib.pledge_level_amount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></div>
										</div>
									</div>
									<div class="reward-desc fr-view" html-render html="failedContrib.pledge_level_description"></div>

									<div class="your-contrib">
										<div class="ui grid">
											<div class="ui five wide column">
												<span class="contrib-label" translate>
													retry_card_your_contribution
												</span>
											</div>
											<div class="ui eleven wide column">
												<span class="contrib-amnt" ng-bind-html="failedContrib.amount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option" ng-if="failedContrib"></span>
												<span ng-if="!failedContrib">N/A</span>
											</div>
										</div>
									</div>
									<div class="your-contrib" ng-if="failedContrib.amount_tip">
										<div class="ui grid">
											<div class="ui five wide column">
												<span class="contrib-label" translate>
													retry_card_your_contribution_tip
												</span>
											</div>
											<div class="ui eleven wide column">
												<span class="contrib-amnt" ng-bind-html="failedContrib.amount_tip | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option" ng-if="failedContrib"></span>
												<span ng-if="!failedContrib">N/A</span>
											</div>
										</div>
									</div>
									<div class="your-contrib">
										<div class="ui grid">
											<div class="ui five wide column">
												<strong>
													<span class="contrib-label" translate>
														retry_card_your_contribution_total
													</span>
												</strong>
											</div>
											<div class="ui eleven wide column">
												<span class="contrib-amnt" ng-bind-html="failedContrib.amount_total | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option" ng-if="failedContrib"></span>
												<span ng-if="!failedContrib">N/A</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="ui grid centered">
							<div class="ui three wide column">
								<h3 class="ui header" translate>
									retry_card_choose_action
								</h3>
							</div>
							<div class="ui seven wide column">
								<div class="ui fluid selection dropdown">
									<input type="hidden" name="cards">
									<div class="default text">
										<span translate="retry_card_select_choose_one"></span>
									</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" ng-click="selectMethod('authenticate')" ng-if="requiresAuthentication"><span translate>retry_card_select_authenticate_card</span> <span>**** **** ****
												{{failedContrib.last4}}</span></div>
										<div class="item" ng-click="selectMethod('existing')" ng-if="existedCards.length" translate>retry_card_select_existing_card</div>
										<div class="item" ng-click="selectMethod('new')" translate>retry_card_select_new_card</div>
									</div>
								</div>
							</div>
						</div>

							<br>
							<div class="ui grid centered">
								<div class="ui three wide column">
								</div>
								<div class="ui seven wide column">
									<div class="existing_cards" ng-if="existedCards.length && (method == 'existing')">
										<div class="ui fluid selection dropdown" ng-click="hideNewCard()">
											<input type="hidden" name="cards">
											<div class="default text">
												<span translate="retry_card_select_choose_one"></span>
											</div>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="item" ng-repeat="card in existedCards" ng-click="setStripeCardId(card.stripe_account_card_id)">
													<img src="images/cards/{{card.stripe_account_card_type}}.png"/>
													<span ng-if="card.stripe_account_card_type_id == 1 || card.stripe_account_card_type_id == 3">**** **** ****
														<span ng-bind="card.last4"></span>
													</span>
													<span ng-if="card.stripe_account_card_type_id == 2">**** ****** *<span ng-bind="card.last4"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="ui grid centered">
								<div class="ui three wide column">
								</div>
								<div class="ui seven wide column">
									<div class="repledge-credit-card-form" ng-if="method == 'new'">
										<!--ng-include src="'views/templates/partials/credit-card-wrap.html'" ng-if="failedContrib" ng-init="initStripePayment()"></ng-include-->
										<form class="ui stripe-credit-card-form form stripe-elements-form" ng-init="initStripeElement()">
											<div class="two fields" ng-show="guestOption == 3">
												<div class="field">
													<input type="text" name="namecard" placeholder="{{'pledge_campaign_name_on_card'| translate}}" ng-model="stripeExtraDetails.name">
												</div>
												<div class="field"></div>
											</div>
											<div class="two fields">
												<div class="sixteen wide field">
													<label translate> guest_contribution_payment_card_number </label>
													<div id="card-number-element-wrap">
														<i class="pf pf-credit-card" id="brand-icon"></i>
													</div>
													<div id="card-number-element"></div>
												</div>
												<div class="field"></div>
											</div>

											<div class="two fields">
												<div class="eight wide field">
													<label translate> guest_contribution_payment_card_expiry_date </label>
													<div id="card-expiry-element"></div>
												</div>
												<div class="eight wide field">
													<label id="cvc"> {{'guest_contribution_payment_cvc'| translate}}
														<i class="info circle icon" data-content="{{'pledge_campaign_creditcard_cvc_note'| translate }}" sui-popup></i>
													</label>
													<div id="card-cvc-element"></div>
												</div>
											</div>

											<div id="card-errors" role="alert"></div>
										</form>
									</div>
							</div>
						</div>

						<div class="ui basic right aligned segment retry-btn" ng-if="failedContrib">
							<div class="ui pointing right label red" ng-if="failedMessage">
								{{failedMessage| translate }}
							</div>
							<div class="ui pointing right label green" ng-if="retrySuccess" translate>
								retry_card_retry_message
							</div>
							<div class="ui green button" ng-click="submit()" id="retrypledge" translate>
								retry_card_retry_button
							</div>
						</div>
					</div>
				</div>
				<!-- UI GRID END -->
			</div>

		</div>
		<!-- UI COLUMN END -->
	</div>
	<!-- UI PAGE GRID END -->
</div>
<!-- MAINBODY-WRAP END -->

<!--modal for wrong account -->
<div class="ui modal" id="wrong-account">
	<div class="header">
		<h3 class="ui red header" translate>
			retry_card_wrong_account
		</h3>
	</div>
	<div class="content">
		<p translate>
			retry_card_wrong_account_message
		</p>
	</div>
	<div class="actions">
		<div class="ui button" ng-click="goto()" translate>
			retry_card_wrong_account_cancel
		</div>
	</div>
</div>
<!-- MODAL END -->

<!--modal for transaction not found -->
<div class="ui modal" id="not-found-transaction">
	<div class="header">
		<h3 class="ui red header" translate="retry_card_not_found_transaction_title"></h3>
	</div>
	<div class="content">
		<p translate="retry_card_not_found_transaction_message"></p>
	</div>
	<div class="actions">
		<div class="ui button" ng-click="goto()" translate>
			retry_card_wrong_account_cancel
		</div>
	</div>
</div>
<!-- MODAL END -->


<!--modal for transaction not found -->
<div class="ui modal" id="authentication-failed">
	<div class="header">
		<h3 class="ui red header" translate="retry_card_authentication_failed_title"></h3>
	</div>
	<div class="content">
		<p translate="retry_card_authentication_failed_message"></p>
	</div>
</div>
<!-- MODAL END -->

<!-- ================= FOOTER -->
<!-- test modal -->
<div class="ui page repledge-thank-you modal">
	<i class="close icon"></i>
	<h1 class="ui icon inverted header" id="pledge-success">
		{{'retry_card_thankyou'| translate}}
		<!-- <i class="smile icon"></i>  -->
	</h1>
	<div class="content">
		<div class="ui two column stackable grid">
			<div class="four wide column campaign-img">
				<img ng-if="campaign.files.length" ng-repeat="file in campaign.files | filter:{region_id: RESOURCE_REGIONS.campaign.thumbnail} | orderBy:'-file_id' | limitTo: 1" ng-src="{{server + '/image/campaign_thumbnail_medium/' + file.path_external}}" class="ui image"/>
				<img ng-if="campaign.files.length == 0" src="/images/placeholder-images/placeholder_campaign_thumb.png" class="ui image"/>
			</div>
			<!-- column end -->
			<div class="twelve wide column">
				<h1 class="ui header">
					{{campaign.name}}
				</h1>
				<p>{{campaign.blurb}}</p>
			</div>
			<!-- column end -->
		</div>

		<table class="ui three column table">
			<thead>
				<tr>
					<th translate>retry_card_reward_desc</th>
					<th translate>retry_card_contributed_on</th>
					<th translate>retry_card_amount_contributed</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="td-campaign-reward">
						{{des |limitTo : 80}}
						<span ng-show="des.length > 80">...</span>
						<div ng-if="!des" translate>
							retry_card_no_description
						</div>
					</td>
					<td class="td-contrib-date">{{currdate}}</td>
					<td class="td-contrib-amount" ng-bind-html="failedContrib.amount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"></td>
				</tr>
			</tbody>
		</table>

		<!-- AddToAny BEGIN -->
		<div id="sm-share-wrap" class="ui basic segment">
			<h2 class="share-label ui header" translate>retry_card_share_your_contribution</h2>

			<div class="a2a_kit a2a_kit_size_32 a2a_default_style social-media-share">
				<a class="a2a_button_facebook"></a>
				<a class="a2a_button_twitter"></a>
				<a class="a2a_button_email"></a>
				<a class="a2a_button_google_plus"></a>
				<a class="a2a_dd" href="https://www.addtoany.com/share_save"></a>
			</div>
			<script type="text/javascript">
				//var a2a_config = a2a_config || {}; //specifically for twitter a2a_config.locale = "custom"; a2a_config.localize  = {     share_message:"I just made a contribution to" }; // for all media
				a2a_config.linkname = a2a_config.localize.share_message_pledge_page;
				var myString = window.location.origin + window.location.pathname;
				var stringArray = myString.split('pledge');
				var id = stringArray[1].split('eid=');
				var myurl = stringArray[0] + "campaign/" + id[1];

				// console.log(myurl);
				a2a_config.linkurl = myurl;
			</script>
			<script type="text/javascript" src="https://static.addtoany.com/menu/page.js"></script>
		</div>
		<!-- AddToAny END -->
	</div>
	<div class=" inverted actions">
		<a class="ui positive button redirect-link" href="/explore">
			{{'retry_card_goto' | translate}}
		</a>
	</div>
</div>
<script src="scripts/social-message.js" type="text/javascript"></script>

