<div class="mainbody-wrap" ng-cloak>
  <div class="background-wrap">
    <div class="ui page grid">
      <div class="ui column">

        <div class="campaign-creation-header">
          <div class="campaignsteps" ng-include src="'views/templates/partials/campaign/create/campaign-steps.html'"></div>

          <div ng-if="!public_settings.site_theme_campaign_show_reward_required && !hideAllCampaignRewardsFields" class="ui green message">
            <div class="ui basic segment center aligned" translate>campaign_reward_message</div>
          </div>

          <div class="ui center aligned basic campaign-top-header segment">
            <h1 class="ui header" translate>campaign_reward_reward_message </h1>
            <p translate>campaign_reward_reward_text
            </p>
            <p translate>campaign_reward_reward_text2</p>
            <div class="header-footer">
              <div class="header-prev-action" ng-if="displayPrevButtonHeader" ng-include src="'views/templates/partials/campaign/create/campaign-previous.html'"></div>
            </div>
          </div>
        </div>

        <div class="ui left aligned basic segment" ng-if="notes.pledges">
          <div class="ui yellow message">
            <div class="ui small header"> {{'campaign_reward_reward_note' | translate}} </div>
            {{notes.pledges}}
          </div>
        </div>

        <div class="campaign-rewards-form campaign-creation-form ui form" ng-if="!hideAllCampaignRewardsFields">
          <h2 class="ui inverted top attached header" translate="campaign_reward_campaign_reward_settings_title"></h2>
          <div class="campaign-bg ui middle attached basic segment">
            <div class="formbg ui two column stackable grid required-field">
              <div class="ui corner red label">
                <i class="white asterisk icon"></i>
              </div>
              <div class="left-col five wide column">
                <h3 class="ui header">
                  <span translate="campaign_reward_campaign_reward_settings_paging"></span>
                </h3>
                <p translate="campaign_reward_campaign_reward_settings_paging_hint"></p>
              </div>
              <div class="right-col eleven wide column">
                <div class="toggle-sticky ui toggle checkbox" ng-model="campaign.settings.enable_rewards_pagination">
                  <input type="checkbox" name="public">
                  <label>
                    <span translate="campaign_reward_campaign_reward_settings_paging_description"></span>
                    <span translate="campaign_reward_campaign_reward_settings_paging_off" ng-show="campaign.settings.enable_rewards_pagination"></span>
                    <span translate="campaign_reward_campaign_reward_settings_paging_on" ng-show="!campaign.settings.enable_rewards_pagination"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="campaign-rewards-form campaign-creation-form">
          <h2 class="ui inverted top attached header" translate>campaign_reward_campaignreward </h2>
          <div class="campaign-bg ui middle attached basic segment" ng-if="rewards_data.length && !hideAllCampaignRewardsFields">
            <div class="formbg ui two column stackable grid required-field" ng-form name="rewards{{$index}}" ng-repeat="reward in rewards_data track by $index">
              <div class="five wide column">
                <h3 class="ui teal header"> {{'campaign_reward_rewardtext' | translate}} #{{$index + 1}} </h3>
              </div>
              <div class="eleven wide column">
                <form class="ui form campaign-rewards-form">
                  <div class="ui red label" ng-if="reward.errorMessage" style="margin-bottom:15px;">{{reward.errorMessage}}</div>

                  <div class="field" id="reward-amount-field" ng-class="{'reward-amount-error' : reward.amount == 0}">
                    <label class="field-header">
                      <span translate>campaign_reward_reward_contribution</span>
                      <span class="required-text" translate="campaign_creation_required_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_reward_contribution_note</label>
                    <div class="ui left icon input">
                      <input name="reward_amount" type="text" ng-model="reward.amount" numbers-only>
                      <i class="money icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label class="field-header">
                      <span translate>campaign_reward_reward_contribution_name</span>
                      <span class="required-text" translate="campaign_creation_required_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_reward_contribution_name_note</label>
                    <input type="text" name="reward_title" ng-model="reward.name" placeholder="{{'campaign_reward_reward_contribution_title' | translate}}">
                  </div>
                  <div class="field">
                    <label class="field-header">
                      <span translate>campaign_reward_reward_contribution_description</span>
                      <span class="required-text" translate="campaign_creation_required_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_reward_contribution_description_note</label>
                    <div ng-if="reward_html_editor">
                      <textarea froala="froalaOptions" data-server="{{server}}" data-loc="{{server_loc}}" id="description{{$index + 1}}" class="page-content" ng-model="reward.description" name="data.htmlcontent{{$index}}"></textarea>
                    </div>

                    <textarea ng-if="!reward_html_editor" class="page-content" ng-model="reward.description" id="description{{$index + 1}}" name="data.htmlcontent{{$index}}"></textarea>

                    <div ta-bind="text" ng-show="togglepreview" ng-model="reward.description" ta-readonly='disabled'></div>

                    <div class="ui red pointing above ui label" ng-show="rewards{{$index}}.description.$invalid">
                      <div ng-show="rewards{{$index}}.description.$error.required">{{'campaign_reward_reward_contribution_descriptionmessage' | translate}}#{{$index + 1}} {{'campaign_reward_reward_contribution_descriptionmessage2' | translate}}
                      </div>
                    </div>
                  </div>

                  <!--COUPON ASSIGNMENT FIELD-->
                  <div class="field" ng-show = "public_settings.site_campaign_coupon_management.toggle">
                    <label class="field-header">
                      <span translate>campaign_reward_reward_coupon_title</span>
                      <span class="optional-text" translate="campaign_creation_optional_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_reward_coupon_note</label>

                    <div class="eleven wide column">
                      <div class="ui fluid form">
                        <div class="field">
                          <div ui-select multiple style="width:100%;" ng-model="reward.selectedCoupons" theme="select2" reset-search-input="true" onkeydown="if (event.keyCode == 13) return false;" ng-disabled="enableCampaignRevisions && campaign.entry_status_id == 2  && user.person_type_id !== 1">
                            <div ui-select-match ng-attr-placeholder=" {{'campaign_reward_reward_coupon_placeholder' | translate}}" id="location">
                              <span ng-show="$item.discount_amount > 0" ng-bind="$item.code + ' ($' +$item.discount_amount+' off)'"></span>
                              <span ng-show="$item.discount_percentage > 0" ng-bind="$item.code + ' (' +$item.discount_percentage+'% off)'"></span>
                            </div>
                            <div ui-select-choices repeat="coupon in coupons | filter: $select.search" refresh="searchCoupons($select.search, reward)" refresh-delay="200">
                              <div ng-show="coupon.discount_amount > 0" ng-bind-html="coupon.code+' ('+coupon.name+', $'+coupon.discount_amount+' off)'"></div>
                              <div ng-show="coupon.discount_percentage > 0" ng-bind-html="coupon.code+' ('+coupon.name+', '+coupon.discount_percentage+'% off)'"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="field shipping-field">
                    <label class="field-header">
                      <span translate>campaign_reward_reward_item_limit</span>
                      <span class="optional-text" translate="campaign_creation_optional_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_reward_item_limit_note</label>
                    <input type="text" numbers-only name="limit" ng-model="reward.item_limit" placeholder="{{'campaign_reward_reward_item_limit_placeholder' | translate}}">
                  </div>

                  <div class="ui blue large message shipping-field" translate>
                    campaign_reward_reward_shipmessage
                  </div>

                  <div class="field shipping-field">
                    <label class="field-header">
                      <span translate="campaign_reward_reward_delivery_date"></span> (
                      <span ng-bind="campaign.timezoneText"></span>)
                      <span class="optional-text" translate="campaign_creation_optional_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_reward_delivery_date_note</label>
                    <quick-datepicker placeholder="{{get_started_funding_startdate_placeholder | translate}}" ng-model="reward.estimated_delivery_time_convert" disable-clear-button="true" date-format='EEEE, MMMM d, yyyy' disable-timepicker="true" date-filter="noPastDates"
                      ng-if="!public_settings.site_theme_campaign_display_iso_date"></quick-datepicker>
                    <quick-datepicker placeholder="{{get_started_funding_startdate_placeholder | translate}}" ng-model="reward.estimated_delivery_time_convert" disable-clear-button="true" date-format='EEEE, yyyy/MM/d' disable-timepicker="true" date-filter="noPastDates" ng-if="public_settings.site_theme_campaign_display_iso_date"></quick-datepicker>
                  </div>

                  <div class="field shipping-field">
                    <div class="shipping-option-wrap" ng-repeat="shipping in reward.shipping">
                      <a class="remove-btn red ui label" ng-click="removeShippingOption(shipping, reward); updateDuplicatedCountryList()">
                        <i class="remove icon"></i>
                      </a>
                      <div class="three stackable fields stacking-shipping-options">
                        <div class="six wide field">
                          <label translate> campaign_reward_reward_shiping_option</label>
                          <div class="ui fluid selection dropdown rewards-shipping-options" ng-click="checkShippingOption(reward.shipping)">
                            <div class="text" translate ng-if="!shipping.shipping_option_type_id">campaign_reward_reward_shiping_option_select </div>
                            <div class="text" ng-if="shipping.shipping_option_type_id">{{dropdown.shipping[shipping.shipping_option_type_id -1].value | translate}}</div>
                            <i class="dropdown icon"></i>
                            <input type="hidden" name="shipping" ng-value="shipping.shipping_option_type_id">
                            <div class="menu">
                              <div data-value="{{option.id}}" class="item" ng-repeat="option in dropdown.shipping" ng-click="selectShippingOption($parent.$parent.$index, $parent.$index, option.id); updateDuplicatedCountryList()" ng-hide="shipping.worldwideOption && option.id == 1">{{option.value | translate}}</div>
                            </div>
                          </div>
                        </div>

                        <div class="seven wide field" ng-if="shipping.shipping_option_type_id == 2 || shipping.shipping_option_type_id == 3">
                          <label translate> campaign_reward_reward_shiping_country</label>
                          <select ng-change="updateDuplicatedCountryList()" ng-model="rewards_data[$parent.$parent.$index].shipping[$parent.$index].country_id" ui-select2="currencypicker" ng-click="showSubCountry(rewards_data[$parent.$parent.$index].shipping[$parent.$index].country_id,$parent.$parent.$index,shipping.shipping_option_type_id ,$parent.$index)">
                            <option value="{{country.country_id}}" class="item" ng-repeat="country in countries | excludeDupCountry:$parent.$parent.$index:rewards_data[$parent.$parent.$index].shipping[$parent.$index].country_id:shipping.shipping_option_type_id">{{country.name}}</option>
                          </select>
                        </div>

                        <div class="three wide field" ng-if="shipping.shipping_option_type_id == 1 || (shipping.shipping_option_type_id == 2 && shipping.country_id)">
                          <label translate> campaign_reward_reward_shiping_cost </label>
                          <div class="ui input rewards-shipping-cost">
                            <div class="currency-symbol" ng-bind-html="' '| formatCurrency:ccode:public_setting.site_campaign_decimal_option" id="lbaelid"></div>
                            <input type="text" min="0" ng-model="shipping.cost" numbers-only onkeydown="if (event.keyCode == 13) return false;">
                          </div>
                        </div>
                      </div>

                      <div class="subcountry-cost" ng-show="show_sub && shipping.shipping_option_type_id == 3">
                        <div class="ui accordion" ng-accord>
                          <div class="title">
                            <i class="dropdown icon"></i> Sub Countries
                          </div>
                          <div class="content">
                            <div class="ui four column stackable grid">
                              <div class="column" ng-repeat="city in shipping.sub_countries">
                                <div class="subcountry-fields field">
                                  <label class="city-name">{{city.name}}</label>
                                  <div class="ui input rewards-shipping-cost">
                                    <div class="currency-symbol" ng-bind-html=" ' ' | formatCurrency:ccode:public_setting.site_campaign_decimal_option"></div>
                                    <input type="text" value="{{city.cost}} || 0" ng-model="city.cost" numbers-only onkeydown="if (event.keyCode == 13) return false;">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ui green button rwrd-btn" ng-click="addShippingOption(reward.shipping)" translate>
                      <i class="plus icon"></i>campaign_reward_reward_shiping_buttontext
                    </div>
                  </div>
                  <!-- Variation -->
                  <div class="field shipping-field" ng-if="enableRewardVariation">
                    <label class="field-header">
                      <span translate>campaign_reward_variation_title</span>
                      <span class="optional-text" translate="campaign_creation_optional_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_variation_notes</label>
                    <div class="reward-variation-options" ng-repeat="variation in reward.attributes['variation']">
                      <a class="remove-btn red ui label" ng-click="removeVariationOption(reward, $index);">
                        <i class="remove icon"></i>
                      </a>
                      <div class="variation-options-fields ui two column stackable grid">
                        <div class="left-col three wide column">
                          <label translate>campaign_reward_variation_field_var_title_label</label>
                        </div>
                        <div class="right-col thirteen wide column">
                          <input type="text" ng-model="variation.name">
                        </div>

                        <div class="left-col three wide column">
                          <label translate>campaign_reward_variation_field_var_options_label</label>
                        </div>
                        <div class="right-col thirteen wide column">
                          <ul ui-sortable ng-model="variation.choice" class="select-options" ng-if="variation.choice.length > 0">
                            <li class="ui grid" ng-repeat="variation_choice in variation.choice">
                              <div class="one wide column">
                                <div class="fa fa-bars"></div>
                              </div>
                              <div class="thirteen wide column">
                                <input class="left" name="link_label{{$index}}" type="text" ng-model="variation_choice.value">
                              </div>

                              <div class="two wide column">
                                <div class="ui red icon button" ng-click="removeChoice(variation.choice,$index)">
                                  <i class="remove icon"></i>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <div class="rwrd-btn" ng-click="addChoice(variation)">
                            <button class="ui green right labeled icon button">
                              {{'campaign_reward_variation_field_var_options_add_button' | translate}}
                              <i class="plus icon"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="rwrd-btn" ng-click="addVariationOption(reward)">
                      <button class="ui green right labeled icon button">
                        {{'campaign_reward_variation_add_button' | translate}}
                        <i class="plus icon"></i>
                      </button>
                    </div>
                  </div>

                  <div class="field" ng-if="enableRewardTimeLimit">
                    <label class="field-header">
                      <span translate>campaign_reward_time_limit_title</span>
                      <span class="optional-text" translate="campaign_creation_optional_text"></span>
                    </label>
                    <label class="note" translate>campaign_reward_time_limit_notes</label>
                    <quick-datepicker placeholder="{{campaign_reward_time_limit_date_placeholder}}" ng-model="reward.expires" disable-clear-button="true" date-format='EEEE, MMMM d, yyyy' disable-timepicker="true" date-filter="noPastDates"></quick-datepicker>
                  </div>
                </form>
              </div>
              <div class="remove-reward-wrap ui basic segment">
                <div class="ui red button" ng-click="deleteReward(reward, $index)">{{'campaign_reward_reward_remove' | translate}} </div>

              </div>
            </div>

          </div>

          <div class="add-reward-btn-wrap center aligned column" ng-if="!hideAllCampaignRewardsFields">
            <div class="ui green large button rwrd-btn" ng-click="addReward(rewards_data)" translate>
              <i class="plus icon"></i> campaign_reward_reward_add
            </div>
          </div>

          <div class="campaign-bg ui middle attached basic segment" ng-if="showCampaignDescription">
            <div class="formbg ui two column stackable grid required-field campaign-description-form-field" ng-if="showCampaignDescription &&!isFieldDisplayStacked">
              <div class="ui corner red label">
                <i class="white asterisk icon"></i>
              </div>
              <div class="left-col five wide column">
                <h3 class="ui header">
                  <span translate="campaign_setup_description"></span>
                  <span class="required-text" translate="campaign_creation_required_text"></span>
                </h3>
                <p translate="campaign_setup_description_text"></p>
              </div>

              <div class="right-col eleven wide column">
                <div class="field" id="campaign-details-field" ng-class="{'description-added' : campaign.description}">
                  <span class="campaign-revision-note ui blue label" ng-if="enableCampaignRevisions && campaign.entry_status_id == 2 && user.person_type_id == 1 && isCampaignRevised" translate="campaign_creation_revised_note"></span>
                  <textarea froala="froalaOptionsCampaigns" ng-if="enableCampaignRevisions && campaign.entry_status_id == 2 && in_revision" data-server="{{server}}" data-loc="{{server_loc}}" class="page-content" ng-model="revision.description" name="data.htmlcontent" ng-class="{'has-error': !revision.description}"></textarea>
                  <textarea froala="froalaOptionsCampaigns" ng-if="!in_revision" data-server="{{server}}" data-loc="{{server_loc}}" class="page-content" ng-model="campaign.description" name="data.htmlcontent" ng-class="{'has-error': !campaign.description}"></textarea>
                  <div class="ui selection dropdown description-suggestions-dropdown" ng-if="descriptionSuggestions && descriptionSuggestions.length">
                    <input type="hidden" name="description-suggestions">
                    <div class="default text" translate="campaign_setup_description_suggestions"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" ng-repeat="dsecription in descriptionSuggestions track by $index" ng-click="setDescriptionFromSuggestion(dsecription)">
                        <span ng-bind="dsecription.title"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div ta-bind="text" ng-show="togglepreview" ng-model="campaign.description" ta-readonly='disabled'></div>
              </div>
            </div>

            <div class="formbg ui grid stacked-ui-field required-field campaign-description-form-field" ng-if="showCampaignDescription &&isFieldDisplayStacked">

              <div class="column">
                <h3 class="ui header">
                  <span translate="campaign_setup_description"></span>
                  <span class="required-text" translate="campaign_creation_required_text"></span>
                </h3>
                <p translate="campaign_setup_description_text"></p>
                <div class="field" id="campaign-details-field" ng-class="{'description-added' : campaign.description}">
                  <span class="campaign-revision-note ui blue label" ng-if="enableCampaignRevisions && campaign.entry_status_id == 2 && user.person_type_id == 1 && isCampaignRevised" translate="campaign_creation_revised_note"></span>
                  <textarea froala="froalaOptionsCampaigns" ng-if="enableCampaignRevisions && campaign.entry_status_id == 2 && in_revision" data-server="{{server}}" data-loc="{{server_loc}}" class="page-content" ng-model="revision.description" name="data.htmlcontent" ng-class="{'has-error': !revision.description}"></textarea>
                  <textarea froala="froalaOptionsCampaigns" ng-if="!in_revision" data-server="{{server}}" data-loc="{{server_loc}}" class="page-content" ng-model="campaign.description" name="data.htmlcontent" ng-class="{'has-error': !campaign.description}"></textarea>
                  <div class="ui selection dropdown description-suggestions-dropdown" ng-if="descriptionSuggestions && descriptionSuggestions.length">
                    <input type="hidden" name="description-suggestions">
                    <div class="default text" translate="campaign_setup_description_suggestions"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" ng-repeat="dsecription in descriptionSuggestions track by $index" ng-click="setDescriptionFromSuggestion(dsecription)">
                        <span ng-bind="dsecription.title"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="campaign-detail-toggle-preview" ta-bind="text" ng-show="togglepreview" ng-model="campaign.description" ta-readonly='disabled'></div>
              </div>
            </div>
          </div>
          <div ng-include src="'views/templates/partials/response-message.html'"></div>

          <div class="bottom-btn-wrap " ng-include src="'views/templates/partials/campaign/create/campaign-save.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui small modal delete-reward-modal">
  <i class="close icon"></i>
  <div class="header">
    <h3 class="ui blue header" translate>campaign_reward_reward_delete_confirm</h3>
  </div>
  <div class="content">
    <p>{{'campaign_reward_reward_delete_confirmmessage' | translate}} {{reward.name}}?</p>
  </div>
  <div class="actions">
    <div class="ui positive button" ng-click="confirmDeleteReward()" translate>
      campaign_reward_reward_delete_confirm_yes
    </div>
    <div class="ui negative button" translate>
      campaign_reward_reward_delete_confirm_no
    </div>
  </div>
</div>