<main class="container">
	<div>
		<header class="hero-overlay wf-section" id="hero-overlay">
			<div class="centered-container w-container">
				<div class="intro-content">
					<div class="heading-jumbo">Getting Started</div>
				</div>
			</div>
		</header>
		<section class="cards-section wf-section" id="cards-section">
			<div class="centered-container w-container">

				<h1 class="heading">How Do I begin</h1>
				<div class="cards-grid-container">
					<div id="w-node-_71a3a4c7-551a-4550-1aa4-22f0c3585dcc-9ac98dc1">
						<div class="cards-image-mask"><img src="images/9.svg" alt="" class="cards-image fr-fil fr-dib"></div>

						<h3>Make a list</h3>

						<p>This may sound trite and simplistic, but you should begin by making a physical list &ndash; using the criteria you have just been taught. If you do this, you will be surprised to find how many good participants you can identify. The simple process of doing this will stimulate your thinking. Prioritize your list &ndash; because this points you towards the best way to spend your valuable time and get the results you seek. Your initial goal is to &ldquo;Pick Six&rdquo;.</p>
					</div>
					<div id="w-node-_71a3a4c7-551a-4550-1aa4-22f0c3585dd3-9ac98dc1">
						<div class="background-video-4 w-background-video w-background-video-atom" data-autoplay="true" data-loop="true" data-poster-url="videos/UntitledDesign-poster-00001.jpg" data-video-urls="videos/UntitledDesign-transcode.mp4,videos/UntitledDesign-transcode.webm" data-wf-ignore="true" id="w-node-c9bc717f-f3f7-ee11-edf9-cd4b5c70e64b-9ac98dc1"><span class="fr-video fr-fvc fr-dvi fr-draggable" contenteditable="false"><video autoplay="" class="fr-fvc fr-dvi fr-draggable" data-object-fit="cover" data-wf-ignore="true" loop="" style='background-image: url("videos/UntitledDesign-poster-00001.jpg");'><source src="videos/UntitledDesign-transcode.mp4" data-wf-ignore="true">
<source src="videos/UntitledDesign-transcode.webm" data-wf-ignore="true"></video></span></div>

						<h3 id="w-node-_71a3a4c7-551a-4550-1aa4-22f0c3585dd6-9ac98dc1">You Must Light Your Own Fire</h3>

						<p id="w-node-_71a3a4c7-551a-4550-1aa4-22f0c3585dd8-9ac98dc1">We have mentioned elsewhere the need for you to &ldquo;light your own fire&rdquo; by initially inviting some family and friends to support the Campaign you create. This is a mandatory Crowdfunding activity on any Crowdfunding Platform. Ours is no different. Our Algorithm Advantage cannot begin to provide its amazing accelerant until you do this &ndash; but once you do, our Algorithm can take over and the results can become remarkable.</p>
					</div>
					<div id="w-node-_71a3a4c7-551a-4550-1aa4-22f0c3585dda-9ac98dc1">
						<div class="cards-image-mask"><img src="images/10.svg" alt="" class="cards-image fr-fil fr-dib"></div>

						<h3 id="w-node-_71a3a4c7-551a-4550-1aa4-22f0c3585ddd-9ac98dc1">Make Good Decisions When Choosing People You Invite To Join You</h3>

						<p id="w-node-_71a3a4c7-551a-4550-1aa4-22f0c3585ddf-9ac98dc1">When thinking about who you might want to invite - and who would be a really good participant - you need to face a candid truth. Not everyone is a good prospect for a KROWDFIRE Crowdfunding Campaign &ndash; and some will be much better than others. Perhaps this is a good place to tactfully trot out the old, but accurate expression &ndash; &ldquo;Garbage in &ndash; garbage out&rdquo;. Pick wisely and your Campaign will prosper. Do so randomly or foolishly - and you will spin your wheels and be disappointed with your results.</p>
					</div>
					<div id="w-node-e55f7fc9-77a5-22a0-d09a-f4c5ab8809f1-9ac98dc1">
						<div class="cards-image-mask"><img src="images/11.svg" alt="" class="cards-image fr-fil fr-dib"></div>

						<h3 id="w-node-e55f7fc9-77a5-22a0-d09a-f4c5ab8809f4-9ac98dc1">Become a &ldquo;Nectar Detector&rdquo;</h3>

						<p id="w-node-e55f7fc9-77a5-22a0-d09a-f4c5ab8809f7-9ac98dc1">A hummingbird must visit 1,800 flowers a day in order to find enough nectar to survive. Some flowers have nectar and some don&rsquo;t. The hummingbird can&rsquo;t afford to waste time with nectar-less flowers. Otherwise, she doesn&rsquo;t get enough nectar to survive - and SPLAT! She crashes and burns. Some people will &ldquo;get&rdquo; KROWDFIRE and its potential to help them &ndash; and some won&rsquo;t. Don&rsquo;t waste too much time with those who don&rsquo;t. Be polite, kind and courteous &ndash; thank them for their time &ndash; and then move on to better flowers.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<header class="hero-overlay-2 wf-section" id="hero-overlay">
		<div class="centered-container w-container">
			<div class="intro-content">

				<h1>A Campaign Growth Reality</h1>
			</div>
		</div>
	</header>
	<main class="main-content wf-section" id="main-content">

		<ul>
			<li>

				<h5>So, what can you personally do to best ensure the success of your own Campaign?</h5>
				<br>Early-on in your Campaign, you will know some or most of the people who support you with donations. But as our Algorithm does its work and the number of your supporters grows steadily - then dramatically - you are unlikely to personally know few, if any, of your new supporters. That will make it unrealistic for you to be able to provide them with personal encouragement or coaching on how to succeed with their own Campaign &ndash; which, in turn, affects the success of your Campaign.</li>
			<li>

				<h5>So, what can you personally do to best ensure the success of your own Campaign?</h5>
				<br>First, and most importantly, consider their actual personal circumstances. Are they truly someone who essentially fits one of the 4 descriptions we give on our Home Page discussion about &ldquo;eligibility&rdquo;?</li>
		</ul>
	</main>
	<section class="feature-section wf-section" id="feature-section">
		<div class="flex-container w-container">
			<div class="feature-image-mask"><img sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 350.25px, 515.21875px" srcset="images/Tips-for-Success-570-x-500-px-p-500.png 500w, images/Tips-for-Success-570-x-500-px.png 570w" src="images/Tips-for-Success-570-x-500-px.png" alt="" class="feature-image fr-fil fr-dib"></div>
			<div>

				<h2>Who is eligible for crowdfunding?</h2>

				<ul>
					<li>To help support your small business and yourself during these turbulent times.</li>
					<li>You are about to launch a small business of your own and need &ldquo;seed capital&rdquo;.</li>
					<li>You face some pressing financial issue that a cash infusion could help resolve.</li>
					<li>To seek monies for some charitable endeavor.</li>
				</ul>
			</div>
		</div>
	</section>
	<main class="main-content wf-section" id="main-content">

		<ul>
			<li>

				<h5>Do they have a real need in their life right now for an infusion of financial help?</h5>
				<br>Or because you are their friend, are they most likely to be just a polite, casual tire-kicker &ndash; and there is not a financial urgency in their life &ndash; at least, not yet</li>
			<li>

				<h5>Secondly, are they someone who has a large group of friends or a serious &ldquo;business following&rdquo;?</h5>
				<br>First, and most importantly, consider their actual personal circumstances. Are they truly someone who essentially fits one of the 4 descriptions we give on our Home Page discussion about &ldquo;eligibility&rdquo;?</li>
			<li>

				<h5>And finally, there are simply some people who were born to be &ldquo;difficult&rdquo;. Their pre-disposition is to find fault with almost everything.</h5>
				<br>Some actually enjoy being difficult. Frankly, you will be better off &ndash; and save valuable time &ndash; by not engaging with them &ndash; even if you know KROWDFIRE could be a godsend for them and their circumstances.</li>
		</ul>
	</main>
	<header class="hero-overlay-2 wf-section" id="hero-overlay">
		<div class="centered-container w-container">
			<div class="intro-content">

				<h1>Inviting someone to participate</h1>
			</div>
		</div>
	</header>
	<main class="main-content wf-section" id="main-content">
		<div class="w-container">
			<div class="w-richtext">

				<p>Think back to how you were introduced to KROWDFIRE. Your &ldquo;Inviter&rdquo; gave you some simple information and may have asked if a &ldquo;Self-Help Stimulus Bill&rdquo; was something you could use right now in the midst of the economic challenges many are facing.</p>

				<p>
					<br>&zwj;</p>

				<h5>You were likely asked if you knew what Crowdfunding is &ndash; and how it works.</h5>

				<p>You&rsquo;d be surprised how many do not.) Kickstarter, Indiegogo and GoFundMe &ndash; and their differences &ndash; may have been explained to you if needed. You were told a new Crowdfunding Platform has been created and is uniquely different from other Crowdfunding Platforms. It will make an important financial difference in the lives of many &ndash; and perhaps that aroused your curiosity. That information was likely communicated to you by phone, email, Facebook Messenger, or texting. Do the same. Use whatever communications tool is comfortable to you and you believe will resonate with the individual you are approaching.</p>

				<p>
					<br>
				</p>

				<h5>Decide what you think will get the attention and traction of this specific person.</h5>

				<p>Which of the &ldquo;eligibility categories&rdquo; might resonate best with this person?) If appropriate, stress the importance of needing to be open to new ideas in order to financially survive these challenging times. Point out that never has &ldquo;thinking outside the box&rdquo; been more needed. The &ldquo;new normal&rdquo; may not be so normal!</p>

				<p>
					<br>
				</p>

				<h5>Ask their permission to send them a link to KROWDFIRE (www.krowdfire.com) that will better help them understand if it could help them.</h5>

				<p>Tell them to pay particular attention to the Video that explains how the patent-pending Algorithm Advantage works. Be SURE to ask them to &ldquo;follow-up&rdquo; with you when they have viewed it. If you hear nothing within a few days, then you must do the follow-up. Follow-Up matters &ndash; and will be a KEY to your success.</p>

				<p>
					<br>
				</p>

				<h5>THAT is all you need to initially share &ndash; but only as an overview &ndash; even a &ldquo;teaser&rdquo; if you like. Leave it to the &ldquo;Algorithm Explainer Video&rdquo; here on the Website to go into more detail when you send the website link. Let the Explainer Video do the heavy lifting</h5>

				<p>Use the Form you will be given to do that. Tell them to expect an &ldquo;invitation email&rdquo; (and to keep an eye open for it on all of their email folders) &ndash; and then to join and create their own account and profile. And tell them to donate to the Campaign link as directed in that &ldquo;invitation email&rdquo;. (It might be you &ndash; or it could be your &ldquo;Inviter&rdquo;.)</p>

				<p>
					<br>
				</p>

				<p>&zwj;</p>

				<p>&zwj;</p>
			</div>
		</div>
	</main>
	<header class="hero-overlay-3 wf-section" id="hero-overlay">
		<div class="centered-container w-container">
			<div class="intro-content">

				<h1 class="heading-3">Fence-sitting</h1>
			</div>
		</div>
	</header>
	<main class="main-content wf-section" id="main-content">
		<div class="w-container">
			<div class="w-richtext">

				<h2>They can&#39;t lose</h2>

				<p>Be sure to mention this is a &ldquo;one time only&rdquo; donation of $75. If someone is an uncertain &ldquo;fence sitter&rdquo;, be sure to remind them of our &ldquo;Money Back Guarantee&rdquo;. If they complete their &ldquo;Pick Six&rdquo; assignment, and do not receive at least one $75 donation, we will refund the $75 they initially donated.</p>

				<p>
					<br>
				</p>

				<p>&zwj;</p>

				<h3>Risk Mitigation</h3>

				<p>It is also worth pointing out that the power of Algorithm will encourage more people to participate and try a Campaign of their own because its unique power reduces &ldquo;fear of crowdfunding failure&rdquo; &ndash; and using it requires considerably less effort than never-ending &ldquo;old school&rdquo; Crowdfunding networking that can become a burden.</p>

				<p>The quality of the effort you make at this critical beginning point in your own Campaign will make a HUGE impact on the success you experience. AND you must convey that importance to each new person as well.</p>

				<p>The success of each Campaign fundamentally impacts the success of other Campaigns. You need others &ndash; and they need you. Remember the old phrase, &ldquo;There is no Free Lunch.&rdquo; So, &ldquo;buckle up&rdquo; and do a good job with your &ldquo;Pick Six&rdquo; &ndash; and beyond. It will pay major dividends for you &ndash; and others - if you do.</p>

				<p>&zwj;</p>

				<p><strong>REMEMBER:</strong> This is NOT some &ldquo;get rich quick&rdquo; program. It is not even a &ldquo;get rich slowly&rdquo; program. It is Crowdfunding which is &ndash; and has always been &ndash; about helping others with financial challenges by donating to their Campaign.</p>
			</div>
		</div>
	</main>
	<header class="hero-overlay-4 wf-section" id="hero-overlay">
		<div class="centered-container w-container">
			<div class="intro-content">

				<h1>YOUR ONE BIG CHANCE!</h1>
			</div>
		</div>
	</header>
	<header class="hero wf-section" id="hero">
		<div class="flex-container w-container">
			<div>

				<h5>First, become a fanatical &ldquo;Nectar Detector&rdquo;.</h5>

				<p>Choose the very best participants you can to personally invite to join you. Quantity matters, but Quality will be better than just quantity. Ideally, they will be as excited and committed as you because they too see the potential of what can be accomplished for their business, solving a personal challenge, or supporting a favored charity.</p>
			</div>
			<div class="hero-image-mask"><img src="images/11.svg" alt="" class="hero-image fr-fil fr-dib"></div>
		</div>
	</header>
	<section class="feature-section wf-section" id="feature-section">
		<div class="flex-container w-container">
			<div class="feature-image-mask"><img src="images/Untitled-150-x-150-px.svg" alt="" class="feature-image fr-fil fr-dib"></div>
			<div>

				<h5>Second, and regardless of whether the Algorithm has assigned them to you or to your &ldquo;Inviter&rdquo;, impress upon them the need to do exactly as you have &ndash; and invite the very best people they can find to participate.</h5>

				<p>This is their best insurance for having a successful Campaign of their own &ndash; AND your best insurance that your Campaign, and that of your Inviter too, will benefit as well. If everyone embraces and applies this principle, then odds for success improve dramatically for everyone.</p>
			</div>
		</div>
	</section>
	<header class="hero-overlay-5 wf-section" id="hero-overlay">
		<div class="centered-container w-container">

			<h1>Further Instructions</h1>
		</div>
	</header>
	<header class="hero wf-section" id="hero">
		<div class="flex-container w-container">
			<div>

				<h1>Pick six</h1>

				<p>You donate 3 &ndash; and you retain 3 for yourself. But you also know you are not limited to inviting just 6. You can invite as many as you wish &ndash; and our Algorithm will multiply those people and donations for you as well. You are the Captain of your own ship when it comes to inviting who and how many you want to sail with you &ndash; and this too is an &ldquo;insurance policy&rdquo; for Campaign success. Do the math &ndash; and the potential will become obvious.</p>
			</div>
			<div class="hero-image-mask"><img width="150" height="150" src="images/7.svg" alt="" class="hero-image fr-fil fr-dib"></div>
		</div>
	</header>
	<section class="feature-section wf-section" id="feature-section">
		<div class="flex-container w-container">
			<div class="feature-image-mask"><img width="150" height="150" src="images/Create-Campaign.svg" alt="" class="feature-image fr-fil fr-dib"></div>
			<div>

				<h2>We have created an &ldquo;autopilot&rdquo; process</h2>

				<p>This will send a series of supportive and encouraging emails to the people you personally invite. The purpose of these emails is to help them succeed &ndash; not only for themselves, but also because their success becomes your success. Ths is win-win for everyone!</p>
			</div>
		</div>
	</section>
	<section class="call-to-action wf-section" id="call-to-action">
		<div class="centered-container w-container">

			<h2>Please check the box below to continue</h2>

			<p>By checking the box you are acknowledging that you have read the success workshop and insurance policy and understand the workshop.</p>
			<div>
				<div class="w-form">
					<label class="w-checkbox checkbox-field">
						<input type="checkbox" name="checkbox" id="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="checkbox-label w-form-label" for="checkbox">I agree</span></label>
					<div class="w-form-done">
						<div>Thank you! Your submission has been received!</div>
					</div>
					<div class="w-form-fail">
						<div>Oops! Something went wrong while submitting the form.</div>
					</div>
				</div>
			</div><a class="accent-button" href="ignite-creator/5">Click here to start your pick six.</a></div>
	</section>
</main>
